# Business Continuity and Disaster Recovery

`{{defaultRevision}}`

The {{companyShortName}} Contingency Plan establishes procedures to recover {{companyShortName}}
following a disruption resulting from a disaster. This Disaster Recovery Policy
is maintained by the {{companyShortName}} Security Officer and Privacy Officer.

## Policy Statements

{{companyShortName}} policy requires that:

(a) A plan and process for business continuity and disaster recovery (BCDR),
including the backup and recovery of systems and data, must be defined and
documented.

(b) BCDR shall be simulated and tested at least once a year. Metrics shall be
measured and identified recovery enhancements shall be filed to improve the BCDR
process.

(c) Security controls and requirements must be maintained during all BCDR
activities.