### Xem Xét và Báo Cáo Kết Quả Kiểm Toán

1. Thông tin kiểm toán được thu thập định kỳ phải được xem xét kịp thời, ít nhất hàng tháng, bởi các thành viên trong đội ngũ chịu trách nhiệm. Các lần xem xét bổ sung được thực hiện khi cần thiết để đảm bảo dữ liệu đúng được thu thập và giữ lại.

2. Quy trình báo cáo phải cho phép giao tiếp có ý nghĩa về kết quả kiểm toán với các thành viên trong đội ngũ, Khách Hàng, hoặc Đối Tác.

    * Các phát hiện quan trọng phải được báo cáo ngay lập tức dưới dạng văn bản. Biểu mẫu phản ứng sự cố bảo mật của {{companyShortName}} có thể được sử dụng để báo cáo một sự kiện đơn lẻ.
    * Các phát hiện định kỳ phải được báo cáo cho cấu trúc lãnh đạo tài trợ dưới dạng báo cáo văn bản.

3. Báo cáo kết quả kiểm toán phải được giới hạn cho sử dụng nội bộ trên cơ sở tối thiểu/nhu cầu cần biết. Kết quả kiểm toán không được tiết lộ ra bên ngoài mà không có sự phê duyệt của ban quản lý và/hoặc tư vấn pháp lý.

4. Các cuộc kiểm toán bảo mật cấu thành một thực tiễn giám sát nội bộ, bí mật có thể được bao gồm trong các hoạt động và báo cáo cải tiến hiệu suất của {{companyShortName}}. Cần thận trọng để đảm bảo rằng kết quả của các cuộc kiểm toán được tiết lộ chỉ cho các cấu trúc giám sát cấp quản lý và thông tin có thể làm lộ rủi ro tổ chức được chia sẻ với sự cẩn trọng tối đa. Thông tin kiểm toán bảo mật chung có thể được đưa vào các báo cáo tổ chức (thông tin cá nhân không được đưa vào các báo cáo).

5. Mỗi khi có dấu hiệu qua đánh giá và báo cáo, các hành động cải chính phù hợp phải được thực hiện. Các hành động này phải được tài liệu hóa và chia sẻ với các thành viên trong đội ngũ chịu trách nhiệm, Khách Hàng, và/hoặc Đối Tác.
