### Yêu Cầu Kiểm Toán

1. Một yêu cầu kiểm toán có thể được đưa ra vì lý do cụ thể. Yêu cầu có thể đến từ nhiều nguồn khác nhau, bao gồm nhưng không giới hạn ở Nhân Viên Bảo Mật, Nhân Viên Bảo Mật, Khách Hàng, Đối Tác, hoặc Chủ Sở Hữu Ứng Dụng hoặc người dùng ứng dụng.

2. Yêu cầu kiểm toán vì lý do cụ thể phải bao gồm khung thời gian, tần suất, và bản chất của yêu cầu.

3. Yêu cầu kiểm toán phải được Nhân Viên Bảo Mật và/hoặc Nhân Viên Bảo Mật của {{companyShortName}} xem xét và phê duyệt trước khi tiến hành. Dưới bất kỳ hoàn cảnh nào, thông tin chi tiết về kiểm toán không được chia sẻ với các bên mà không có quyền truy cập và quyền xem dữ liệu đó.

    * Nếu kiểm toán tiết lộ rằng một thành viên trong đội ngũ đã truy cập dữ liệu nhạy cảm không đúng cách, thông tin tối thiểu/ít quyền nhất sẽ được chia sẻ với Nhân Viên Bảo Mật của {{companyShortName}} để xác định biện pháp kỷ luật/cải chính phù hợp.
    * Chỉ thông tin đã được loại bỏ danh tính mới được chia sẻ với Khách Hàng hoặc Đối Tác liên quan đến kết quả của quy trình kiểm toán điều tra. Thông tin này sẽ được truyền đạt cho các nhân sự phù hợp bởi Nhân Viên Bảo Mật của {{companyShortName}} hoặc người được chỉ định. Trước khi giao tiếp với khách hàng và đối tác về một cuộc kiểm toán, {{companyShortName}} nên xem xét việc tìm kiếm sự hướng dẫn từ quản lý rủi ro và/hoặc tư vấn pháp lý.
