### Khắc Phục Các Khuyết Điểm Kiểm Soát

Hầu hết các kiểm soát được theo dõi liên tục và báo cáo qua tự động hóa trên nền tảng {{provider}}.

Các khuyết điểm kiểm soát được phát hiện qua kết quả kiểm toán hệ thống nội bộ hoặc bên ngoài được tài liệu hóa và xem xét cùng với quản lý.

Đội ngũ bảo mật làm việc với chủ sở hữu kiểm soát tương ứng để ưu tiên và giảm thiểu khuyết điểm kiểm soát, bao gồm việc áp dụng các hành động sửa chữa, triển khai các kiểm soát bổ sung hoặc điều chỉnh các kiểm soát hiện có khi cần thiết.
