### Truy cập đặc quyền

Người dùng đặc quyền phải trước tiên truy cập vào các hệ thống bằng các tài khoản người dùng tiêu chuẩn, duy nhất trước khi nâng cao quyền hạn hoặc chuyển sang người dùng đặc quyền và thực hiện các nhiệm vụ đặc quyền. Ví dụ bao gồm:

* `sudo` trên Linux/macOS
* `Chạy dưới quyền quản trị viên` trên Windows
* `Giả định vai trò` trên AWS
