### Công Cụ Kiểm Toán và Đánh Giá

Nhân viên Bảo mật của {{companyShortName}} được ủy quyền để chọn và sử dụng các công cụ đánh giá được thiết kế để phát hiện các lỗ hổng và xâm nhập. Việc sử dụng các công cụ này đối với hệ thống và môi trường của {{companyShortName}} bị cấm đối với các bên khác, bao gồm Khách Hàng và Đối Tác, mà không có sự ủy quyền rõ ràng từ Nhân viên Bảo mật. Các công cụ này có thể bao gồm, nhưng không giới hạn:

* Các công cụ và thiết bị quét;
* Tiện ích phá mật khẩu;
* Các thiết bị "sniffer" mạng;
* Các đại lý bảo mật cài đặt cục bộ trên máy chủ và điểm cuối;
* Các hệ thống phát hiện xâm nhập thụ động và chủ động; và
* Các công cụ kiểm tra xâm nhập.

Phần mềm kiểm tra lỗ hổng có thể được sử dụng để kiểm tra mạng nhằm xác định những gì đang chạy (ví dụ: hệ điều hành hoặc phiên bản sản phẩm hiện có), liệu các lỗ hổng đã được công khai có được khắc phục hay không, và đánh giá xem hệ thống có thể chịu đựng các cuộc tấn công nhằm vượt qua các kiểm soát bảo mật hay không.
