### Kiểm Toán Hoạt Động của Khách Hàng và Đối Tác

1. Việc giám sát định kỳ hoạt động của Khách Hàng và Đối Tác sẽ được thực hiện để đảm bảo rằng quyền truy cập và hoạt động là phù hợp với các quyền được cấp và cần thiết cho sự sắp xếp giữa {{companyShortName}} và bên thứ ba. {{companyShortName}} sẽ nỗ lực hết sức để đảm bảo rằng Khách Hàng và Đối Tác không truy cập vào dữ liệu ngoài môi trường của chính họ.

2. Nếu xác định rằng Khách Hàng hoặc Đối Tác đã vượt quá phạm vi quyền truy cập, quản lý và bảo mật của {{companyShortName}} phải ngay lập tức khắc phục vấn đề.

{{#needStandardHIPAA}}
3. Nếu xác định rằng một Khách Hàng hoặc Đối Tác đã vi phạm các điều khoản của thỏa thuận hợp tác kinh doanh HIPAA hoặc bất kỳ điều khoản nào trong quy định HIPAA, {{companyShortName}} phải hành động ngay lập tức để khắc phục tình huống. Những vi phạm liên tục có thể dẫn đến việc chấm dứt mối quan hệ kinh doanh.
{{/needStandardHIPAA}}
