### Đào Tạo, Giáo Dục, Nhận Thức và Trách Nhiệm

1. Các thành viên trong lực lượng lao động của {{companyShortName}} được cung cấp đào tạo, giáo dục và nâng cao nhận thức về việc bảo vệ quyền riêng tư và bảo mật của doanh nghiệp và dữ liệu. Cam kết của {{companyShortName}} đối với việc kiểm toán quyền truy cập và hoạt động của các ứng dụng, hệ thống và mạng thông tin được truyền đạt thông qua định hướng nhân viên mới, cơ hội đào tạo liên tục và các sự kiện, và các chính sách áp dụng. Các thành viên trong lực lượng lao động của {{companyShortName}} được thông báo về trách nhiệm liên quan đến quyền riêng tư và bảo mật thông tin cũng như các biện pháp chế tài/kỷ luật đúng đắn nếu quy trình kiểm toán phát hiện sự không tuân thủ các chính sách tổ chức của một thành viên trong lực lượng lao động.

2. Khách hàng của {{companyShortName}} được cung cấp thông tin cần thiết để hiểu các khả năng kiểm toán của {{companyShortName}}. Các Khách hàng nền tảng chịu trách nhiệm về việc ghi nhật ký, kiểm toán và lưu trữ bất kỳ ứng dụng nào được lưu trữ ngoài môi trường của {{companyShortName}}, mặc dù các ứng dụng này có thể tích hợp với API của nền tảng {{companyShortName}}. Các ứng dụng của khách hàng được lưu trữ trong môi trường của {{companyShortName}} sẽ tuân theo các tiêu chuẩn và quy trình kiểm toán được xác định trong tài liệu này.
