### Thư Mẫu Gửi Đến Khách Hàng Trong Trường Hợp Vi Phạm

[Ngày]

[Tên]
[Tên Khách Hàng]
[Địa Chỉ 1]
[Địa Chỉ 2]
[Thành Phố, Tiểu Bang Mã Zip]

Kính gửi [Tên Khách Hàng]:

Tôi viết thư này từ {{companyFullName}} với thông tin quan trọng về một vi phạm
gần đây ảnh hưởng đến tài khoản của bạn với chúng tôi. Chúng tôi đã phát hiện ra
vi phạm này vào ngày [Chèn Ngày], xảy ra vào khoảng ngày [Chèn Ngày]. Vi phạm đã
xảy ra như sau:

Mô tả sự kiện và bao gồm các thông tin sau:

* Mô tả ngắn gọn về những gì đã xảy ra, bao gồm ngày xảy ra vi phạm và ngày phát
  hiện ra vi phạm, nếu biết.
* Mô tả về các loại thông tin sức khỏe được bảo vệ chưa được bảo mật có liên quan
  đến vi phạm (chẳng hạn như tên đầy đủ, số An Sinh Xã Hội, ngày sinh, địa chỉ nhà,
  số tài khoản, chẩn đoán, mã số khuyết tật hoặc các loại thông tin khác), nếu biết.
* Bất kỳ bước nào mà khách hàng nên thực hiện để bảo vệ bản thân khỏi các tổn hại
  tiềm ẩn do vi phạm gây ra.
* Mô tả ngắn gọn về những gì {{companyShortName}} đang làm để điều tra vi phạm,
  giảm thiểu tổn hại cho cá nhân, và bảo vệ chống lại các vi phạm tiếp theo.
* Các quy trình liên hệ để cá nhân đặt câu hỏi hoặc tìm hiểu thêm thông tin, bao
  gồm một số điện thoại miễn phí, địa chỉ email, trang web, hoặc địa chỉ bưu điện.

Các cân nhắc tùy chọn khác:

* Các khuyến nghị để hỗ trợ khách hàng trong việc khắc phục vi phạm.

Chúng tôi sẽ hỗ trợ bạn trong việc khắc phục tình huống này.

Trân trọng,

{{securityOfficerName}}  
Nhân viên Bảo mật  
{{companyFullName}}  
{{securityOfficerEmail}}  
{{companyPhoneNumber}}
