### Khôi Phục Địa Điểm Làm Việc

Trong trường hợp một cơ sở của {{companyShortName}} không hoạt động do thảm họa, nhân viên sẽ làm việc từ nhà hoặc đến một địa điểm phụ có truy cập Internet, cho đến khi việc khôi phục cơ sở vật chất bị ảnh hưởng hoàn tất. Việc khôi phục sẽ được thực hiện bởi công ty quản lý cơ sở vật chất theo hợp đồng với {{companyShortName}}, và được điều phối bởi Quản Lý Cơ Sở hoặc Trưởng Địa Điểm.

Tổ chức phát triển phần mềm của {{companyShortName}} có khả năng làm việc từ bất kỳ địa điểm nào có truy cập Internet và không yêu cầu kết nối Internet do văn phòng cung cấp.
