### Giám sát và Kiểm toán Cấu hình

Tất cả các cấu hình hạ tầng và hệ thống, bao gồm tất cả các nguồn định nghĩa phần mềm,
được tập trung vào cơ sở dữ liệu quản lý cấu hình (CMDB) -- {{provider}}.

Các quy tắc kiểm toán cấu hình được tạo ra theo các tiêu chuẩn cấu hình cơ bản đã được thiết lập,
tiêu chuẩn cấu hình đã phê duyệt và chính sách kiểm soát. Các sai lệch,
cấu hình sai hoặc sự lệch cấu hình được phát hiện bởi các quy tắc này và
được cảnh báo cho đội ngũ bảo mật.
