### Quản lý Chương trình Tuân thủ

Quản lý của {{companyShortName}} và đội ngũ an ninh/tuân thủ đã xác định và
thường xuyên xem xét tất cả các yêu cầu pháp lý, quy định và hợp đồng liên quan.

Chính sách tuân thủ của {{companyShortName}} bao gồm các yêu cầu để đáp ứng bất kỳ và
tất cả các yêu cầu tuân thủ áp dụng.

Ngoài ra, các chính sách và quy trình Quản lý Rủi ro Nhà cung cấp chỉ rõ các chi tiết liên quan đến các thỏa thuận hợp đồng với khách hàng, đối tác và nhà cung cấp, cũng như các yêu cầu và quy trình liên quan đến quyền sở hữu trí tuệ và việc sử dụng các sản phẩm phần mềm độc quyền.
