### Bảo Vệ Dữ Liệu Khi Nghỉ

#### Mã Hóa Dữ Liệu Khi Nghỉ

Tất cả các cơ sở dữ liệu, kho lưu trữ dữ liệu và hệ thống tệp đều được mã hóa bằng AES-256, sử dụng các khóa riêng biệt cho từng loại lưu trữ. Các khóa được xoay vòng định kỳ.

#### Mã Hóa Đĩa/Ổ Cứng Cục Bộ

Quá trình mã hóa và quản lý khóa cho mã hóa đĩa cục bộ của các máy chủ tại chỗ và các thiết bị người dùng cuối tuân theo các thực tiễn tốt nhất đã được xác định cho các hệ điều hành Windows, macOS và Linux/Unix, chẳng hạn như BitLocker và FileVault.
