### Sử Dụng Máy Tính Của Người Dùng Cuối

{{companyShortName}} yêu cầu tất cả các thành viên trong lực lượng lao động tuân thủ các yêu cầu và quy trình sử dụng máy tính hợp lý sau đây:

(a) Theo [kiến trúc bảo mật](model.md) của {{companyShortName}}, tất cả các thành viên trong lực lượng lao động chủ yếu được coi là người dùng từ xa và do đó phải tuân thủ tất cả các kiểm soát và quy trình truy cập từ xa.

(b) Việc sử dụng hệ thống máy tính của {{companyShortName}} phải chịu sự giám sát của nhóm IT và/hoặc Bảo mật của {{companyShortName}}.

(c) Nhân viên không được để thiết bị máy tính (bao gồm cả máy tính xách tay và thiết bị thông minh) được sử dụng cho mục đích kinh doanh, bao gồm cả thiết bị cung cấp bởi công ty và thiết bị BYOD, không có người giám sát nơi công cộng.

(d) Mã hóa thiết bị phải được bật cho tất cả các thiết bị di động truy cập dữ liệu công ty, chẳng hạn như mã hóa toàn bộ đĩa cho tất cả các máy tính xách tay.

(e) Sử dụng chỉ phần mềm hợp pháp, [phần mềm đã được phê duyệt](approved-software.md) với giấy phép hợp lệ được cài đặt qua [cửa hàng ứng dụng đã được phê duyệt](approved-software.md). Không sử dụng phần mềm cá nhân cho mục đích kinh doanh và ngược lại.

(f) Mã hóa tất cả các email chứa dữ liệu nhạy cảm hoặc bí mật.

(g) Nhân viên không được đăng bất kỳ dữ liệu nhạy cảm hoặc bí mật nào trên các diễn đàn công cộng hoặc phòng chat. Nếu việc đăng là cần thiết để nhận hỗ trợ kỹ thuật, dữ liệu phải được làm sạch để loại bỏ bất kỳ thông tin nhạy cảm hoặc bí mật trước khi đăng.

(h) Phần mềm chống phần mềm độc hại hoặc bảo vệ tương đương phải được cài đặt và kích hoạt trên tất cả các hệ thống đầu cuối có thể bị ảnh hưởng bởi phần mềm độc hại, bao gồm các máy trạm, máy tính xách tay và máy chủ.

(i) Tất cả các thiết bị lưu trữ dữ liệu và phương tiện phải được quản lý theo các đặc tả Phân loại Dữ liệu và quy trình Xử lý Dữ liệu của {{companyShortName}}.

(j) Nghiêm cấm tải xuống hoặc lưu trữ bất kỳ dữ liệu nhạy cảm nào trên các thiết bị máy tính của người dùng cuối, bao gồm máy tính xách tay, máy trạm và thiết bị di động.

(k) Các thiết bị di động không được phép kết nối trực tiếp với các môi trường sản xuất của {{companyShortName}}.
