## Quản Lý và Báo Cáo Nhân Sự

{{companyShortName}} sử dụng {{hrSystem}} để quản lý hồ sơ nhân sự của đội ngũ lao động.

### Cấu Trúc Tổ Chức

Một cấu trúc báo cáo đã được thiết lập để phù hợp với các dòng kinh doanh của tổ chức và/hoặc các vai trò chức năng cá nhân. Sơ đồ tổ chức có sẵn cho tất cả nhân viên qua {{hrSystem}} và/hoặc được đăng tải trên cổng thông tin nội bộ.

### Chức Năng và Mô Tả Công Việc

Các mô tả vị trí/công việc được tài liệu hóa và cập nhật khi cần thiết, xác định các kỹ năng, trách nhiệm và mức độ kiến thức yêu cầu cho các công việc nhất định.

### Đánh Giá Hiệu Suất và Phản Hồi

Nhân viên nhận được phản hồi và công nhận thường xuyên từ quản lý và đồng nghiệp. Các đánh giá hiệu suất chính thức được thực hiện hàng năm bằng cách sử dụng {{provider}}. Các chỉ tiêu đánh giá hiệu suất, khuyến khích và các phần thưởng khác được thiết lập bởi quản lý theo trách nhiệm ở tất cả các cấp, phản ánh các khía cạnh phù hợp của hiệu suất và các tiêu chuẩn hành vi mong đợi.
