### Bài Tập Định Kỳ

Ít nhất một lần mỗi năm, các nhóm an ninh và kỹ thuật của {{companyShortName}} cùng thực hiện một bài tập Đội Đỏ và/hoặc một bài tập giả định về một cuộc tấn công mạng khẩn cấp dẫn đến một hoặc nhiều sự cố **CRITICAL**. Tùy thuộc vào loại bài tập, thời gian có thể dao động từ 2-4 giờ (bài tập giả định) đến vài tuần (bài tập Đội Đỏ toàn diện).

Bài tập sẽ theo kịch bản tấn công mạng. Nó có thể được thực hiện với tất cả các nguồn lực nội bộ hoặc với sự hỗ trợ của một công ty tư vấn bảo mật bên ngoài. Mục tiêu của bài tập là đảm bảo tất cả các bên liên quan nhận được đào tạo đúng cách để xử lý một sự cố thực tế và kiểm tra các quy trình đã được tài liệu hóa để xác định các lỗ hổng trước khi xảy ra sự kiện thực tế. Nhóm lãnh đạo cấp cao có thể được mời tham gia vào bài tập "giả định" tùy thuộc vào bản chất của bài tập hoặc nhận báo cáo kết quả.
