### Sử Dụng USB Flash Drive và Thiết Bị Lưu Trữ Ngoài

Theo chính sách của {{companyShortName}}, dữ liệu nhạy cảm và quan trọng không được lưu trữ trên các thiết bị ngoài như USB flash drives.
{{#needStandardHIPAA}}
Điều này bao gồm và không giới hạn các ePHI.
{{/needStandardHIPAA}}
Để định nghĩa dữ liệu nhạy cảm và quan trọng, xem {{companyShortName}} Chính Sách Phân Loại và Xử Lý Dữ Liệu.

Việc sử dụng USB flash drives để chuyển dữ liệu nhạy cảm và quan trọng tạm thời có thể được phép theo từng trường hợp, khi quy trình sau được tuân theo:

* Dữ liệu chỉ được phép lưu trữ trên các thiết bị flash được mã hóa và được {{companyShortName}} Bảo mật và Quản lý IT (hiện tại là **{{provider}}**) phê duyệt.
* Quy trình bắt đầu bằng việc nộp một vé trong {{ticketingSystem}}.
    Vé phải được IT và Bảo mật phê duyệt.
* Sau khi hoàn tất việc chuyển dữ liệu, tất cả dữ liệu nhạy cảm trên thiết bị phải được xóa hoàn toàn.
* Thiết bị phải được trả lại cho Quản lý IT để kiểm tra lại rằng dữ liệu đã được xóa.
* Quản lý IT sẽ kiểm tra thiết bị và kiểm tra lại.
