### Quy Trình Xử Lý Medias

IT và Bảo mật chịu trách nhiệm đảm bảo rằng các phương tiện chứa dữ liệu quan trọng/nhạy cảm được xử lý an toàn theo các cách sau:

* Các phương pháp tiêu hủy, xử lý và tái sử dụng được đánh giá lại định kỳ, dựa trên công nghệ hiện tại, thực tiễn được chấp nhận và sự sẵn có của công nghệ và dịch vụ tiêu hủy, xử lý và tái sử dụng kịp thời và tiết kiệm chi phí. Điều này có thể bao gồm:

  - Xóa an toàn;
  - Phá hủy vật lý;
  - Phá hủy các khóa mã hóa (nếu dữ liệu trên phương tiện được mã hóa bằng thuật toán mạnh như AES-256).

* Nếu các hồ sơ được yêu cầu trong quá trình một phiên tòa hoặc điều trần hành chính, một lệnh bảo vệ đủ điều kiện sẽ được yêu cầu để đảm bảo rằng các hồ sơ sẽ được trả lại cho tổ chức hoặc bị tiêu hủy/xử lý đúng cách bởi bên yêu cầu.

* Tất cả các Nhà thầu phụ của {{companyShortName}} đảm bảo rằng, khi hợp đồng chấm dứt, họ sẽ trả lại hoặc tiêu hủy/xử lý tất cả thông tin sức khỏe của bệnh nhân. Trong các trường hợp không thể trả lại hoặc tiêu hủy/xử lý, hợp đồng giới hạn việc sử dụng và tiết lộ thông tin cho các mục đích ngăn chặn việc trả lại hoặc tiêu hủy/xử lý.

* Trong các trường hợp khách hàng của {{companyShortName}} chấm dứt hợp đồng với {{companyShortName}} và không còn sử dụng dịch vụ của {{companyShortName}}, dữ liệu sẽ được trả lại hoặc tiêu hủy theo thỏa thuận hợp đồng hoặc điều khoản và điều kiện sử dụng nền tảng của {{companyShortName}}. Trong mọi trường hợp, khách hàng của {{companyShortName}} hoàn toàn chịu trách nhiệm duy trì các biện pháp bảo vệ yêu cầu theo luật và quy định khi dữ liệu được truyền ra khỏi môi trường của {{companyShortName}}.
