### Khung Chính sách và Kiểm soát

{{companyShortName}} duy trì một bộ chính sách và kiểm soát nhằm ghi lại các tiêu chuẩn, quy định, pháp lý và yêu cầu theo luật liên quan đến nhu cầu kinh doanh. Khung này và nội dung của nó được xem xét ít nhất hàng năm để đảm bảo rằng các thay đổi có thể ảnh hưởng đến quy trình kinh doanh được phản ánh.

#### Cấu trúc

Tương tự như khái niệm "dịch vụ vi mô", các chính sách và quy trình kiểm soát được viết dưới dạng các "tài liệu vi mô" riêng lẻ. Chúng được ánh xạ với nhau thông qua cấu hình JSON.

#### Ánh xạ Kiểm soát

Một tài liệu JSON cấu hình việc ánh xạ mỗi quy trình kiểm soát tới một hoặc nhiều khung bảo mật/tuân thủ, nếu có.

Lưu ý rằng việc ánh xạ kiểm soát chỉ diễn ra giữa tài liệu kiểm soát/quy trình và yêu cầu, không phải ở cấp độ chính sách. Điều này vì chúng tôi tin tưởng mạnh mẽ rằng bạn phải có các kiểm soát và quy trình tài liệu để triển khai và thực thi một chính sách viết cao. Có một chính sách viết chỉ đơn thuần mà không có triển khai hoặc thực thi không giải quyết được rủi ro của bất kỳ yêu cầu bảo mật hoặc tuân thủ nào.

#### Tiêu chuẩn Tuân thủ

Ít nhất hàng năm, {{companyShortName}} xem xét các yêu cầu quy định, pháp lý và theo luật liên quan đến nhu cầu kinh doanh của mình và áp dụng bất kỳ tiêu chuẩn nào liên quan vào khung kiểm soát và chương trình quản trị của mình.

Danh sách các tiêu chuẩn áp dụng có thể được tìm thấy trong cùng một kho lưu trữ với tài liệu chính sách và kiểm soát và/hoặc trong ứng dụng/nền tảng quản lý tuân thủ {{provider}}.
