#### Chính sách và Quy trình Bàn làm việc sạch sẽ

Nhân viên phải bảo mật tất cả thông tin nhạy cảm/bí mật trong khu vực làm việc của họ khi kết thúc ngày làm việc và khi rời khỏi khu vực làm việc. Điều này bao gồm cả thông tin điện tử và vật lý như:

* trạm làm việc máy tính, máy tính xách tay, và máy tính bảng
* thiết bị lưu trữ di động bao gồm đĩa CD, DVD, ổ USB, và ổ cứng ngoài
* tài liệu in

Các trạm làm việc/máy tính xách tay phải được khóa (bảo vệ bằng mật khẩu) khi không có người giám sát. Các thiết bị di động như máy tính xách tay và máy tính bảng nên được mang về nhà khi kết thúc ngày làm việc.

Các thiết bị lưu trữ di động và tài liệu in phải được coi là tài liệu nhạy cảm và được khóa trong ngăn kéo hoặc nơi tương tự khi không sử dụng. Tài liệu in phải được lấy ra ngay lập tức từ máy in hoặc máy fax. Mật khẩu không được viết ra hoặc lưu trữ vật lý.

Chìa khóa và thẻ truy cập sử dụng để truy cập thông tin/khu vực nhạy cảm hoặc hạn chế không được để không có người giám sát ở bất kỳ đâu trong văn phòng.
