## Đăng Ký Rủi Ro

Nhóm An Ninh của {{companyShortName}} duy trì một sổ đăng ký các rủi ro, được ghi nhận và cập nhật liên tục

* trong một tài liệu trên SharePoint của công ty; và/hoặc
* trong công cụ/ cơ sở dữ liệu hoạt động an ninh.

Sổ đăng ký rủi ro bao gồm tất cả các rủi ro và mối đe dọa đã được xác định trong đánh giá rủi ro hàng năm và tất cả các đánh giá giữa kỳ.
