### Đánh giá và Phân tích Rủi ro

Mục đích của việc hoàn thành đánh giá rủi ro là xác định các mối đe dọa và lỗ hổng tiềm năng cũng như khả năng và tác động nếu chúng xảy ra. Kết quả của quá trình này giúp xác định các biện pháp kiểm soát phù hợp để giảm thiểu hoặc loại bỏ rủi ro.

* Bước 1. Đặc tả Hệ thống

    * Bước đầu tiên trong việc đánh giá rủi ro là xác định phạm vi của nỗ lực. Để làm điều này, xác định nơi dữ liệu nhạy cảm được nhận, duy trì, xử lý hoặc truyền đi. Sử dụng các kỹ thuật thu thập thông tin, ranh giới của Nền tảng {{companyShortName}} được xác định.

    * Kết quả - Đặc tả của hệ thống Nền tảng {{companyShortName}} được đánh giá, bức tranh tổng thể về môi trường Nền tảng, và ranh giới của Nền tảng.

* Bước 2. Xác định Mối đe dọa

    * Các mối đe dọa tiềm năng (khả năng các nguồn mối đe dọa thành công khai thác một lỗ hổng cụ thể) được xác định và ghi lại. Tất cả các nguồn mối đe dọa tiềm năng thông qua việc xem xét các sự cố lịch sử và dữ liệu từ các cơ quan tình báo, chính phủ, v.v., để giúp tạo ra danh sách các mối đe dọa tiềm năng.

    * Kết quả - Một danh sách các mối đe dọa chứa các nguồn mối đe dọa có thể khai thác các lỗ hổng của Nền tảng.

* Bước 3. Xác định Lỗ hổng

    * Phát triển một danh sách các lỗ hổng kỹ thuật và phi kỹ thuật của Nền tảng có thể bị khai thác hoặc kích hoạt bởi các nguồn mối đe dọa tiềm năng. Các lỗ hổng có thể từ các chính sách không đầy đủ hoặc mâu thuẫn mà điều chỉnh việc sử dụng máy tính của tổ chức đến các biện pháp bảo vệ không đủ để bảo vệ các cơ sở chứa thiết bị máy tính đến bất kỳ số lượng phần mềm, phần cứng hoặc các thiếu sót khác tạo thành mạng máy tính của tổ chức.

    * Kết quả - Một danh sách các lỗ hổng của Nền tảng (quan sát) có thể được khai thác bởi các nguồn mối đe dọa tiềm năng.

* Bước 4. Phân tích Biện pháp Kiểm soát

    * Ghi lại và đánh giá hiệu quả của các biện pháp kiểm soát kỹ thuật và phi kỹ thuật đã hoặc sẽ được triển khai bởi {{companyShortName}} để giảm thiểu hoặc loại bỏ khả năng / xác suất một nguồn mối đe dọa khai thác một lỗ hổng của Nền tảng.

    * Kết quả - Danh sách các biện pháp kiểm soát hiện tại hoặc dự định (chính sách, quy trình, đào tạo, cơ chế kỹ thuật, bảo hiểm, v.v.) được sử dụng cho Nền tảng để giảm thiểu khả năng một lỗ hổng bị khai thác và giảm tác động của sự kiện bất lợi đó.

* Bước 5. Xác định Khả năng xảy ra

    * Xác định xếp hạng khả năng tổng thể cho biết xác suất một lỗ hổng có thể bị khai thác bởi một nguồn mối đe dọa dựa trên các biện pháp kiểm soát bảo mật hiện có hoặc dự định.

    * Kết quả - Xếp hạng khả năng xảy ra thấp (.1), trung bình (.5), hoặc cao (1). Tham khảo các định nghĩa của NIST SP 800-30 về thấp, trung bình và cao.

* Bước 6. Phân tích Tác động

    * Xác định mức độ tác động bất lợi sẽ xảy ra khi một mối đe dọa thành công khai thác một lỗ hổng. Các yếu tố của dữ liệu và hệ thống cần xem xét bao gồm tầm quan trọng đối với nhiệm vụ của {{companyShortName}}; tính nhạy cảm và quan trọng (giá trị hoặc tầm quan trọng); chi phí liên quan; mất tính bảo mật, tính toàn vẹn và tính sẵn có của hệ thống và dữ liệu.

    * Kết quả - Xếp hạng mức độ tác động thấp (10), trung bình (50), hoặc cao (100). Tham khảo các định nghĩa của NIST SP 800-30 về thấp, trung bình và cao.

* Bước 7. Xác định Rủi ro

    * Thiết lập mức độ rủi ro. Bằng cách nhân các xếp hạng từ xác định khả năng xảy ra và phân tích tác động, một mức độ rủi ro được xác định. Điều này đại diện cho mức độ hoặc mức độ rủi ro mà một hệ thống CNTT, cơ sở, hoặc quy trình có thể gặp phải nếu một lỗ hổng nhất định bị khai thác. Xếp hạng rủi ro cũng trình bày các hành động mà quản lý cấp cao phải thực hiện cho mỗi mức độ rủi ro.

    * Kết quả - Mức độ rủi ro thấp (1-10), trung bình (>10-50) hoặc cao (>50-100). Tham khảo các định nghĩa của NIST SP 800-30 về thấp, trung bình và cao.

* Bước 8. Đề xuất Biện pháp Kiểm soát

    * Xác định các biện pháp kiểm soát có thể giảm hoặc loại bỏ các rủi ro đã xác định, phù hợp với hoạt động của tổ chức đến mức chấp nhận được. Các yếu tố cần xem xét khi phát triển các biện pháp kiểm soát có thể bao gồm hiệu quả của các lựa chọn đề xuất (tức là, tính tương thích của hệ thống), luật pháp và quy định, chính sách của tổ chức, tác động vận hành, và độ an toàn và độ tin cậy. Các đề xuất kiểm soát cung cấp đầu vào cho quá trình giảm thiểu rủi ro, trong đó các biện pháp kiểm soát bảo mật quy trình và kỹ thuật được đánh giá, ưu tiên và triển khai.

    * Kết quả - Đề xuất biện pháp kiểm soát và các giải pháp thay thế để giảm thiểu rủi ro.

* Bước 9. Tài liệu Kết quả

    * Kết quả của đánh giá rủi ro được ghi lại trong một báo cáo chính thức, bảng tính, hoặc bản tóm tắt và cung cấp cho quản lý cấp cao để đưa ra quyết định về chính sách, quy trình, ngân sách và thay đổi hoạt động và quản lý của Nền tảng.

    * Kết quả - Một báo cáo đánh giá rủi ro mô tả các mối đe dọa và lỗ hổng, đo lường rủi ro và cung cấp các đề xuất cho việc triển khai biện pháp kiểm soát.
