## Điều Tra Vi Phạm và Xử Phạt

Các thành viên lực lượng lao động phải báo cáo mọi sự không tuân thủ các chính sách và quy trình của {{companyShortName}} cho Nhân Viên An Ninh hoặc cá nhân khác được chỉ định bởi Nhân Viên An Ninh. Những cá nhân báo cáo vi phạm một cách thiện chí sẽ không bị đe dọa, đe dọa, cưỡng ép, phân biệt đối xử, hoặc bất kỳ hành động trả thù nào khác.

1. Nhân Viên An Ninh sẽ nhanh chóng tiến hành một cuộc điều tra kỹ lưỡng về tất cả các vi phạm báo cáo liên quan đến các chính sách và quy trình an ninh của {{companyShortName}}. Nhân Viên An Ninh có thể yêu cầu sự trợ giúp từ những người khác.

    * Hoàn thành một đường dẫn kiểm toán/log để xác định và xác minh vi phạm và chuỗi sự kiện.
    * Phỏng vấn bất kỳ cá nhân nào có thể biết về hoặc liên quan đến sự cố.
    * Tất cả các cá nhân phải hợp tác với quy trình điều tra và cung cấp thông tin chính xác cho những người thực hiện điều tra.
    * Cung cấp cho các cá nhân bị nghi ngờ không tuân thủ quy tắc An Ninh và/hoặc các chính sách và quy trình của {{companyShortName}} cơ hội giải thích hành động của họ.
    * Điều tra viên tài liệu hóa cuộc điều tra một cách kỹ lưỡng khi cuộc điều tra diễn ra. Tài liệu này phải bao gồm danh sách tất cả các nhân viên liên quan đến vi phạm.

2. Vi phạm bất kỳ chính sách hoặc quy trình an ninh nào của các thành viên lực lượng lao động có thể dẫn đến hành động kỷ luật sửa chữa, bao gồm cả việc chấm dứt hợp đồng lao động. Vi phạm chính sách và quy trình này bởi các đối tượng khác, bao gồm các đối tác kinh doanh, khách hàng, và đối tác có thể dẫn đến việc chấm dứt mối quan hệ và/hoặc các quyền lợi liên quan. Vi phạm cũng có thể dẫn đến các hình phạt dân sự và hình sự theo quy định của luật pháp và quy định liên bang và bang.

    * Một quy trình kỷ luật công bằng sẽ được áp dụng cho nhân viên bị nghi ngờ vi phạm an ninh. Nhiều yếu tố sẽ được xem xét khi quyết định phản ứng, chẳng hạn như việc đây có phải là lần đầu tiên vi phạm, đào tạo, hợp đồng kinh doanh, v.v.
    * {{companyShortName}} bảo lưu quyền chấm dứt hợp đồng lao động trong các trường hợp vi phạm nghiêm trọng.
    * Vi phạm dẫn đến việc rò rỉ thông tin bảo mật (tức là tiết lộ dữ liệu nhạy cảm cho cá nhân không được ủy quyền), thay đổi tính toàn vẹn dữ liệu, hoặc không thể truy cập dữ liệu bởi các người dùng khác, yêu cầu ngay lập tức chấm dứt hợp đồng lao động với nhân viên của {{companyShortName}}.

3. Nhân Viên An Ninh sẽ thực hiện các bước phù hợp để ngăn chặn sự tái diễn của vi phạm (khi có thể và khả thi).

4. Trong trường hợp mối đe dọa nội bộ, Nhân Viên An Ninh và Nhân Viên Bảo Mật Thông Tin sẽ thành lập một nhóm để điều tra và giảm thiểu rủi ro của hoạt động độc hại từ bên trong. Các thành viên lực lượng lao động của {{companyShortName}} được khuyến khích cung cấp thông tin về mối đe dọa nội bộ và có thể làm như vậy một cách ẩn danh.

5. Nhân Viên An Ninh duy trì tất cả tài liệu của cuộc điều tra, các hình phạt đã áp dụng, và các hành động đã thực hiện để ngăn chặn sự tái diễn ít nhất là bảy năm sau khi kết thúc cuộc điều tra.

6. Khi Nhân Viên An Ninh phát hiện vi phạm và bắt đầu quy trình xử phạt chính thức, họ sẽ thông báo cho quản lý hoặc giám sát viên phù hợp trong vòng 24 giờ. Thông báo đó sẽ bao gồm 1) xác định cá nhân bị xử phạt, 2) lý do xử phạt, và 3) các quy trình cụ thể cho việc hạn chế/quyền truy cập hoặc các hành động kỷ luật khác theo yêu cầu.

   [Mẫu Thông Báo Cảnh Báo](https://github.com/JupiterOne/security-policy-templates/raw/master/templates/ref/sanction-notice.pdf)
