## Chương Trình Tiết Lộ Lỗi Có Trách Nhiệm và Tìm Lỗi Bằng Tiền Thưởng

### Tiết Lộ Lỗi Công Khai / Chương Trình Tìm Lỗi Bằng Tiền Thưởng

Tất cả công nghệ đều chứa lỗi, bao gồm cả các khiếm khuyết chức năng và lỗ hổng bảo mật.

{{companyShortName}} sử dụng nền tảng của bên thứ ba để duy trì chương trình tiết lộ lỗi công khai / tìm lỗi bằng tiền thưởng. Chương trình này tận dụng các nhà nghiên cứu bảo mật từ cộng đồng để thực hiện kiểm tra xâm nhập đối với nền tảng của {{companyShortName}} và các tài nguyên công khai của nó.

Nhà cung cấp chương trình hiện tại là {{provider}}.
