### Giám sát thông tin đe dọa

**NH-ISAC**

{{companyShortName}} là một thành viên tích cực của Trung tâm Chia sẻ và Phân tích Thông tin Y tế Quốc gia (NH-ISAC).

Nhóm An ninh của {{companyShortName}} đã đăng ký nhận cảnh báo đe dọa từ NH-ISAC.

**Các nguồn thông tin tình báo**

Các nguồn thông tin tình báo bổ sung được tự động nhận thông qua một số giải pháp bảo mật của bên thứ ba đã được triển khai trên các mạng và/hoặc điểm cuối. Dữ liệu thu thập thông qua các nguồn thông tin tình báo bên ngoài này được tự động sử dụng bởi các giải pháp bảo mật để phân tích sự kiện và tạo ra cảnh báo.

**Cập nhật yêu cầu về quy định**

Người phụ trách An ninh và Quyền riêng tư theo dõi chặt chẽ cảnh quan về tuân thủ quy định, bao gồm cập nhật các quy định như HIPAA, PCI và GDPR.
