### Bảo vệ ứng dụng web

{{companyName}} sử dụng các Dịch vụ AWS để bảo vệ ứng dụng web khỏi các cuộc tấn công phổ biến như SQL injection, cross-site scripting và tấn công từ chối dịch vụ (DoS/DDoS). Các dịch vụ được sử dụng bao gồm AWS Shield, WAF, Cloudfront và/hoặc API Gateway.
