### Đào tạo Chính sách và Tuân thủ

1. Nhân viên An ninh & Bảo mật tổ chức đào tạo cho tất cả các thành viên trong lực lượng lao động như sau:

    1.1. Các thành viên mới trong lực lượng lao động trong tháng đầu tiên làm việc;
    1.2. Các thành viên hiện tại trong lực lượng lao động hàng năm;
    1.3. Các thành viên hiện tại trong lực lượng lao động có chức năng bị ảnh hưởng bởi sự thay đổi quan trọng trong các chính sách và thủ tục, trong vòng một tháng sau khi sự thay đổi quan trọng có hiệu lực;
    1.4. Các thành viên hiện tại trong lực lượng lao động khi cần thiết do thay đổi trong tình trạng an ninh và rủi ro của {{companyShortName}}.

2. Tài liệu về các buổi đào tạo và danh sách tham dự được lưu trữ ít nhất trong bảy năm.

3. Buổi đào tạo tập trung vào, nhưng không giới hạn ở, các chủ đề sau được xác định trong các chính sách và thủ tục an ninh của {{companyShortName}}:

    3.1. Các Nguyên tắc và Kiểm soát An ninh SOC 2;
    {{#needStandardNIST}}
    3.2. Các Quy tắc An ninh NIST;
    {{/needStandardNIST}}
    {{#needStandardHIPAA}}
    3.3. Các quy định về Quyền riêng tư, An ninh và Thông báo vi phạm HIPAA;
    {{/needStandardHIPAA}}
    {{#needStandardPCI}}
    3.4. Yêu cầu PCI DSS;
    {{/needStandardPCI}}
    3.5. Các thủ tục và tài liệu quản lý rủi ro;
    3.6. Kiểm toán. {{companyShortName}} có thể theo dõi truy cập và hoạt động của tất cả người dùng;
    3.7. Máy tính chỉ được sử dụng để thực hiện các trách nhiệm công việc được giao;
    3.8. Người dùng không được tải phần mềm lên máy tính và/hoặc hệ thống của {{companyShortName}} mà không có sự chấp thuận trước từ Nhân viên An ninh;
    3.9. Người dùng phải báo cáo phần mềm độc hại cho Nhân viên An ninh ngay lập tức;
    3.10. Người dùng phải báo cáo các nỗ lực trái phép, việc sử dụng trái phép, và việc trộm cắp hệ thống và/hoặc máy tính của {{companyShortName}};
    3.11. Người dùng phải báo cáo truy cập trái phép vào cơ sở;
    3.12. Người dùng phải báo cáo các sự khác biệt trong đăng nhập (ví dụ: ứng dụng cho biết lần đăng nhập cuối cùng của người dùng là vào một ngày mà người dùng đang nghỉ phép);
    3.13. Người dùng không được thay đổi dữ liệu nhạy cảm được lưu trữ trong cơ sở dữ liệu, trừ khi được phép bởi một Khách hàng của {{companyShortName}};
    3.14. Người dùng phải hiểu vai trò của mình trong kế hoạch dự phòng của {{companyShortName}};
    3.15. Người dùng không được chia sẻ tên người dùng và mật khẩu của mình với bất kỳ ai;
    3.16. Yêu cầu người dùng tạo và thay đổi mật khẩu;
    3.17. Người dùng phải cài đặt tất cả các ứng dụng chứa hoặc truyền dữ liệu nhạy cảm để tự động đăng xuất sau 15 phút không hoạt động;
    3.18. Người giám sát phải báo cáo việc chấm dứt của các thành viên trong lực lượng lao động và các người dùng bên ngoài khác;
    3.19. Người giám sát phải báo cáo sự thay đổi trong tiêu đề, vai trò, phòng ban và/hoặc vị trí của người dùng;
    3.20. Các thủ tục để sao lưu dữ liệu nhạy cảm;
    3.21. Các thủ tục để di chuyển và ghi nhận việc di chuyển của phần cứng và phương tiện điện tử chứa dữ liệu nhạy cảm;
    3.22. Các thủ tục để tiêu hủy đĩa, CD, ổ cứng và các phương tiện khác chứa dữ liệu nhạy cảm;
    3.23. Các thủ tục để tái sử dụng phương tiện điện tử chứa dữ liệu nhạy cảm;
    3.24. Quản lý bí mật (như khóa SSH) và các thủ tục mã hóa tài liệu nhạy cảm.
