### Đánh Giá Rủi Ro Công Nghệ Của Nhà Cung Cấp

Chính sách an ninh của {{companyShortName}} yêu cầu đánh giá rủi ro của công nghệ nhà cung cấp trước khi bất kỳ công nghệ nào được tích hợp vào hoạt động và/hoặc cơ sở hạ tầng của {{companyShortName}}. Nhân viên được yêu cầu liên hệ với nhóm an ninh để thực hiện đánh giá này. Yêu cầu có thể được gửi qua email trực tiếp đến nhóm an ninh, hoặc bằng cách mở một vé {{ticketingSystem}} qua bàn dịch vụ nội bộ của {{companyShortName}}.

Nhóm an ninh có trách nhiệm thực hiện các đánh giá qua phỏng vấn và xem xét tài liệu, để đảm bảo nhà cung cấp tuân thủ các yêu cầu quy định và theo các phương pháp tốt nhất về an ninh để giảm thiểu rủi ro đến mức chấp nhận được.

Đánh giá rủi ro công nghệ của nhà cung cấp (VTR) được thực hiện sử dụng {{provider}}, theo các bước sau:

1. Người đánh giá gửi liên kết bảng câu hỏi cho người liên hệ của nhà cung cấp.
2. Nhà cung cấp hoàn thành bảng câu hỏi.
3. Nhà cung cấp lưu/xuất câu trả lời cho bảng câu hỏi đánh giá.
4. Người liên hệ của nhà cung cấp gửi tệp câu trả lời lại cho người đánh giá.
5. Người đánh giá mở cùng bảng câu hỏi và tải các câu trả lời nhận được từ nhà cung cấp để hoàn thành đánh giá.
6. Người đánh giá theo dõi với người liên hệ của nhà cung cấp khi cần thiết.
7. Người đánh giá tổ chức cuộc thảo luận với chủ sở hữu doanh nghiệp để xác định nếu rủi ro là chấp nhận được. Có thể yêu cầu nhà cung cấp thực hiện các biện pháp khắc phục tùy thuộc vào kết quả.

Danh sách [nhà cung cấp / nhà thầu được phê duyệt][1] được duy trì bởi các nhóm An ninh và Vận hành.

[1]: approved-vendors.md
