# Kế Hoạch Duy Trì Kinh Doanh và Khôi Phục Sau Thảm Họa

`{{defaultRevision}}`

Kế hoạch dự phòng của {{companyShortName}} thiết lập các quy trình để khôi phục {{companyShortName}} sau một sự cố gián đoạn do thảm họa gây ra. Chính sách khôi phục sau thảm họa này được duy trì bởi Nhân Viên An Ninh và Nhân Viên Bảo Mật của {{companyShortName}}.

{{#needStandardHIPAA}}
**HIPAA:** Kế hoạch dự phòng này của {{companyShortName}} được phát triển theo yêu cầu của Văn Phòng Quản Lý và Ngân Sách (OMB) Thông Tư A-130, Quản Lý Tài Nguyên Thông Tin Liên Bang, Phụ Lục III, Tháng Mười Một năm 2000, và Quy Tắc An Ninh Cuối Cùng của Đạo Luật Bảo Hiểm Y Tế (HIPAA), Mục §164.308(a)(7), yêu cầu việc thiết lập và triển khai các quy trình để đáp ứng các sự kiện gây hư hại các hệ thống chứa thông tin y tế được bảo vệ điện tử.
{{/needStandardHIPAA}}

{{#needStandardNIST}}
**NIST:** Kế hoạch dự phòng này của {{companyShortName}} được tạo ra theo các yêu cầu lập pháp quy định trong Đạo Luật Quản Lý An Ninh Thông Tin Liên Bang (FISMA) năm 2002 và các hướng dẫn được thiết lập bởi Viện Tiêu Chuẩn và Công Nghệ Quốc Gia (NIST) Ấn Phẩm Đặc Biệt (SP) 800-34, tiêu đề "Hướng Dẫn Lập Kế Hoạch Dự Phòng Cho Các Hệ Thống Công Nghệ Thông Tin" ngày Tháng Sáu năm 2002.
{{/needStandardNIST}}

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Một kế hoạch và quy trình cho việc duy trì kinh doanh và khôi phục sau thảm họa (BCDR), bao gồm sao lưu và khôi phục hệ thống và dữ liệu, phải được xác định và tài liệu hóa.

(b) BCDR phải được mô phỏng và kiểm tra ít nhất một lần mỗi năm. Các chỉ số sẽ được đo lường và các cải tiến khôi phục được xác định sẽ được nộp để cải thiện quy trình BCDR.

(c) Các kiểm soát và yêu cầu an ninh phải được duy trì trong suốt các hoạt động BCDR.
