# Điều Tra và Thông Báo Về Sự Cố Bảo Mật

`{{defaultRevision}}`

{{#needStandardHIPAA}}
Hướng dẫn thông báo sự cố khi có truy cập, tiếp nhận, sử dụng và/hoặc tiết lộ trái phép thông tin y tế được bảo vệ điện tử (ePHI). Thông báo sự cố sẽ được thực hiện tuân thủ theo Đạo Luật Phục Hồi và Tái Đầu Tư Hoa Kỳ (ARRA)/Đạo Luật Công Nghệ Thông Tin Y Tế vì Sức Khỏe Kinh Tế và Lâm Sàng (HITECH) cũng như bất kỳ luật thông báo liên bang hoặc tiểu bang nào khác.

Ủy Ban Thương Mại Liên Bang (FTC) đã công bố quy tắc thông báo sự cố cho các nhà cung cấp hồ sơ sức khỏe cá nhân theo yêu cầu của ARRA/HITECH. Quy tắc của FTC áp dụng cho các thực thể không được bảo vệ bởi HIPAA, chủ yếu là các nhà cung cấp hồ sơ sức khỏe cá nhân. Quy tắc này có hiệu lực từ ngày 24 tháng 9 năm 2009 với yêu cầu tuân thủ hoàn toàn từ ngày 22 tháng 2 năm 2010.

Đạo Luật Phục Hồi và Tái Đầu Tư Hoa Kỳ năm 2009 (ARRA) đã được ký thành luật vào ngày 17 tháng 2 năm 2009. Tiêu đề XIII của ARRA là Đạo Luật Công Nghệ Thông Tin Y Tế vì Sức Khỏe Kinh Tế và Lâm Sàng (HITECH). HITECH ảnh hưởng đáng kể đến các Quy tắc Bảo Mật và An Ninh của Đạo Luật Bảo Hiểm Y Tế (HIPAA). Trong khi HIPAA không yêu cầu thông báo khi thông tin y tế được bảo vệ (PHI) bị tiết lộ không đúng cách, các thực thể được bảo vệ và các đối tác kinh doanh có thể đã chọn bao gồm thông báo như một phần của quá trình giảm thiểu. HITECH yêu cầu thông báo về một số sự cố vi phạm bảo mật PHI chưa được bảo vệ tới các đối tượng sau: cá nhân, Bộ Y Tế và Dịch Vụ Nhân Sinh (HHS), và các phương tiện truyền thông. Việc thực hiện hiệu lực cho quy định này là ngày 23 tháng 9 năm 2009 (đang chờ công bố các quy định của HHS).
{{/needStandardHIPAA}}

Trong trường hợp xảy ra sự cố bảo mật, {{companyShortName}} sẽ thông báo cho tất cả các khách hàng bị ảnh hưởng. Khách hàng có trách nhiệm thông báo cho các cá nhân bị ảnh hưởng.

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Quy trình thông báo sự cố bảo mật được kích hoạt ngay khi xác nhận sự cố bảo mật dẫn đến việc tiết lộ trái phép dữ liệu nhạy cảm không được bảo vệ/mã hóa.

(b) Các cá nhân bị ảnh hưởng bởi một sự cố bảo mật đã được xác nhận phải được thông báo trong thời gian quy định từ khi phát hiện ra sự cố đó.

{{#needStandardHIPAA}}
(c) Trong trường hợp xảy ra sự cố dữ liệu liên quan đến ePHI chưa được mã hóa, {{companyShortName}} phải báo cáo sự cố đó cho các cá nhân bị ảnh hưởng theo các yêu cầu thông báo sự cố của HIPAA (45 CFR Phần 164, Tiểu Mục D).
{{/needStandardHIPAA}}
