# An Ninh Nhân Sự và Nhân Sự

`{{defaultRevision}}`

{{companyShortName}} cam kết đảm bảo tất cả các thành viên lực lượng lao động tích cực giải quyết vấn đề bảo mật và tuân thủ trong vai trò của họ tại {{companyShortName}}. Chúng tôi khuyến khích việc tự quản lý và thưởng cho những hành vi đúng đắn. Chính sách này chỉ định việc sử dụng thiết bị máy tính và công nghệ của người dùng cuối là chấp nhận được. Thêm vào đó, đào tạo là cần thiết để đảm bảo sự hiểu biết về các thực tiễn tốt nhất hiện tại, các loại và độ nhạy cảm của dữ liệu, và các hình phạt liên quan đến việc không tuân thủ.

## Các Tuyên Bố Chính Sách

Ngoài các vai trò và trách nhiệm được nêu [trước đó](rar.md), chính sách của {{companyShortName}} yêu cầu tất cả các thành viên lực lượng lao động phải tuân thủ Chính sách Sử dụng Chấp nhận được cho Máy tính và Chính sách Bảo mật Nhân sự.

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Các kiểm tra xác minh lý lịch đối với tất cả các ứng viên cho nhân viên và nhà thầu nên được thực hiện theo các luật, quy định và đạo đức liên quan, và phù hợp với các yêu cầu kinh doanh, phân loại thông tin cần truy cập, và rủi ro được đánh giá.

(b) Nhân viên, nhà thầu và người dùng bên thứ ba phải đồng ý và ký các điều khoản và điều kiện của hợp đồng lao động của họ, và tuân thủ các quy định sử dụng chấp nhận được.

(c) Nhân viên sẽ trải qua quy trình giới thiệu để làm quen với các môi trường, hệ thống, yêu cầu bảo mật, và quy trình mà {{companyShortName}} đã thiết lập. Nhân viên cũng sẽ tham gia đào tạo nhận thức bảo mật liên tục và việc đào tạo này sẽ được kiểm tra.

(d) Quy trình ra đi của nhân viên sẽ bao gồm việc nhắc lại bất kỳ nhiệm vụ và trách nhiệm nào vẫn còn hiệu lực sau khi kết thúc hợp đồng, xác minh rằng quyền truy cập vào bất kỳ hệ thống nào của {{companyShortName}} đã được gỡ bỏ, cũng như đảm bảo rằng tất cả các tài sản thuộc sở hữu của công ty đã được trả lại.

(e) {{companyShortName}} và các nhân viên của nó sẽ thực hiện các biện pháp hợp lý để đảm bảo không có dữ liệu nhạy cảm nào được truyền qua các phương tiện truyền thông kỹ thuật số như email hoặc đăng trên các mạng xã hội.

(f) {{companyShortName}} sẽ duy trì danh sách các hoạt động bị cấm mà sẽ là một phần của quy trình giới thiệu và có sẵn đào tạo nếu/ khi danh sách các hoạt động đó thay đổi.

(g) Một quy trình kỷ luật công bằng sẽ được sử dụng cho những nhân viên bị nghi ngờ vi phạm bảo mật. Nhiều yếu tố sẽ được xem xét khi quyết định phản ứng, chẳng hạn như liệu đây có phải là lần đầu tiên vi phạm, đào tạo, hợp đồng kinh doanh, v.v. {{companyShortName}} giữ quyền chấm dứt hợp đồng với nhân viên trong các trường hợp nghiêm trọng về hành vi sai trái.
