# Phản Hồi Sự Cố

`{{defaultRevision}}`

{{companyShortName}} thực hiện quy trình phản hồi sự cố an ninh thông tin để phát hiện, phản hồi và báo cáo sự cố một cách đồng nhất, giảm thiểu tổn thất và hủy hoại, giảm thiểu các điểm yếu đã bị khai thác, và khôi phục chức năng hệ thống thông tin cũng như sự liên tục trong kinh doanh càng sớm càng tốt.

Quy trình phản hồi sự cố bao gồm:

* Giám sát liên tục các mối đe dọa thông qua hệ thống phát hiện xâm nhập (IDS) và các ứng dụng giám sát khác;
* Thành lập một đội phản hồi sự cố an ninh thông tin;
* Xây dựng quy trình để phản hồi các yêu cầu từ truyền thông;
* Xây dựng quy trình rõ ràng để xác định, phản hồi, đánh giá, phân tích và theo dõi các sự cố an ninh thông tin;
* Đào tạo, giáo dục, và nâng cao nhận thức của lực lượng lao động về các sự cố an ninh thông tin và các phản hồi cần thiết; và
* Tạo điều kiện cho việc truyền thông rõ ràng về các sự cố an ninh thông tin với các bên liên quan nội bộ cũng như bên ngoài.

{{#needStandardHIPAA}}
!!! Lưu Ý

    Những chính sách này được điều chỉnh từ công việc của [Nhóm Mạng An ninh HIPAA Collaborative của Wisconsin](http://hipaacow.org/wp-content/uploads/2015/02/HCR-Security-Incident-Response-FINAL-12.18.14.doc). Tham khảo tài liệu liên kết để biết thêm thông tin về bản quyền.

{{/needStandardHIPAA}}

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Tất cả các môi trường và hệ thống máy tính phải được giám sát theo các chính sách và quy trình được quy định trong các chính sách và quy trình sau của {{companyShortName}}:

  * Kiểm toán
  * Truy cập hệ thống
  * Máy tính của người dùng cuối và Sử dụng chấp nhận được

(b) Tất cả các cảnh báo phải được xem xét để xác định sự cố bảo mật.

(c) Quy trình phản hồi sự cố được kích hoạt khi phát hiện sự cố bảo mật hợp lệ.

(d) Đội phản hồi sự cố và quản lý phải tuân thủ bất kỳ yêu cầu bổ sung nào từ cơ quan thực thi pháp luật trong trường hợp điều tra hình sự hoặc an ninh quốc gia, bao gồm nhưng không giới hạn ở các yêu cầu dữ liệu có lệnh, trát đòi hầu tòa và thông báo vi phạm.
