# Kiến Trúc An Ninh và Mô Hình Hoạt Động

`{{defaultRevision}}`

Trong thời đại số, các cuộc tấn công mạng là không thể tránh khỏi. Tại {{companyShortName}}, chúng tôi áp dụng phương pháp "không tin cậy", "hạ tầng tối thiểu" để quản lý rủi ro và an ninh thông tin.

Tài liệu này mô tả các nguyên tắc hướng dẫn và nguyện vọng của chúng tôi trong việc quản lý rủi ro và các thành phần cơ bản của mô hình an ninh của chúng tôi.

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Chương trình và hoạt động an ninh của {{companyShortName}} nên được thiết kế và triển khai với các mục tiêu và thực tiễn tốt nhất sau:

* tập trung vào dữ liệu, ưu tiên đám mây
* giả định có sự xâm nhập, do đó không tin cậy, luôn kiểm tra
* áp dụng các kiểm soát theo nguyên tắc quyền hạn tối thiểu và phòng thủ đa lớp
* tránh điểm đơn lẻ bị xâm nhập
* tự động hóa khi có thể, càng đơn giản càng tốt, ít hơn là nhiều hơn
* khuyến khích tự quản lý và khen thưởng các hành vi tốt

(b) An ninh phải luôn là ưu tiên hàng đầu trong tất cả các khía cạnh của hoạt động kinh doanh và phát triển sản phẩm của {{companyShortName}}.
