# Quản Lý Chính Sách

`{{defaultRevision}}`

{{companyShortName}} thực hiện các chính sách và quy trình để duy trì sự tuân thủ và tính toàn vẹn của dữ liệu. Cán bộ An ninh và Cán bộ Bảo mật là những người chịu trách nhiệm duy trì các chính sách và quy trình, đồng thời đảm bảo rằng tất cả các thành viên trong lực lượng lao động của {{companyShortName}}, các đối tác kinh doanh, khách hàng và đối tác đều tuân thủ tất cả các chính sách áp dụng. Các phiên bản trước của các chính sách được lưu giữ để đảm bảo việc tìm kiếm các chính sách vào các thời điểm lịch sử cụ thể.

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Các chính sách của {{companyShortName}} phải được phát triển và duy trì để đáp ứng tất cả các yêu cầu tuân thủ áp dụng và tuân theo các thực tiễn an ninh tốt nhất, bao gồm nhưng không giới hạn:

{{#needStandardHIPAA}}
- HIPAA
{{/needStandardHIPAA}}
{{#needStandardHITRUST}}
- HITRUST
{{/needStandardHITRUST}}
{{#needStandardGDPR}}
- GDPR
{{/needStandardGDPR}}
{{#needStandardNIST}}
- NIST
{{/needStandardNIST}}
- SOC 2

(b) Tất cả các chính sách phải được xem xét ít nhất hàng năm.

(c) Tất cả các thay đổi chính sách phải được phê duyệt bởi Cán bộ An ninh của {{companyShortName}}. Ngoài ra,

  * Các thay đổi lớn có thể yêu cầu sự phê duyệt của CEO của {{companyShortName}} hoặc người được ủy quyền;
  * Các thay đổi đối với chính sách và quy trình liên quan đến phát triển sản phẩm có thể yêu cầu sự phê duyệt của Trưởng phòng Kỹ thuật.

(d) Tất cả các tài liệu chính sách phải được duy trì với kiểm soát phiên bản, và các phiên bản trước phải được lưu giữ trong một khoảng thời gian xác định trước.

(e) Các trường hợp ngoại lệ chính sách được xử lý theo từng trường hợp cụ thể.

  * Tất cả các ngoại lệ phải được tài liệu đầy đủ với mục đích kinh doanh và lý do tại sao yêu cầu chính sách không thể được đáp ứng.
  * Tất cả các ngoại lệ chính sách phải được phê duyệt bởi cả Cán bộ An ninh của {{companyShortName}} và COO.
  * Một ngoại lệ phải có ngày hết hạn không dài hơn một năm kể từ ngày phê duyệt ngoại lệ và phải được xem xét và đánh giá lại vào hoặc trước ngày hết hạn.
