# Quyền Riêng Tư và Sự Đồng Ý

`{{defaultRevision}}`

{{companyShortName}} cam kết bảo vệ quyền riêng tư của khách hàng chúng tôi.

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Chính sách quyền riêng tư phải được công bố để thông báo cho khách hàng cách {{companyShortName}} thu thập, sử dụng, bảo mật và chia sẻ thông tin của khách hàng.

(b) Phải thu thập sự đồng ý hợp lệ đối với dữ liệu được thu thập từ khách hàng và mục đích sử dụng dữ liệu phải được cung cấp. Khách hàng phải được cung cấp tùy chọn để chọn tham gia hoặc từ chối.
