# Tổng Quan Chương Trình An Ninh

`{{defaultRevision}}`

{{companyShortName}} cam kết bảo vệ nhân viên, đối tác, khách hàng và chính công ty khỏi các hành động gây hại, dù là cố ý hay không cố ý. Điều này bao gồm việc triển khai các chính sách, tiêu chuẩn, kiểm soát và quy trình để đảm bảo tính Bảo mật, Toàn vẹn và Sẵn sàng của hệ thống và dữ liệu theo mức độ rủi ro của chúng.

Chương trình an ninh và các chính sách của {{companyShortName}} được phát triển dựa trên nguyên tắc rằng (1) an ninh là trách nhiệm của tất cả mọi người và (2) tự quản lý được khuyến khích tốt nhất bằng cách thưởng cho những hành vi đúng đắn.

!!! TLDR

    [Tài liệu Tham Khảo Nhanh / Sổ Tay Nhân Viên](employee-handbook.md)
