# Phát Hiện và Ngăn Ngừa Mối Đe Dọa

`{{defaultRevision}}`

Để bảo vệ tính toàn vẹn của dữ liệu mà {{companyShortName}} lưu trữ, xử lý hoặc truyền tải cho Khách hàng, {{companyShortName}} triển khai các công cụ phát hiện xâm nhập mạnh mẽ và các chính sách để theo dõi chủ động và điều tra truy cập trái phép một cách phản ứng. Điều này bao gồm phát hiện và ngăn ngừa mối đe dọa ở cả cấp độ mạng và máy chủ, cũng như giám sát thông tin tình báo về mối đe dọa.

## Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Tất cả các hệ thống, tài sản và môi trường quan trọng phải triển khai phát hiện hoặc ngăn ngừa mối đe dọa theo thời gian thực.
