### Hoạt Động Kiểm Toán Nội Bộ/Thủ Công

Các đánh giá thủ công bổ sung, chẳng hạn như kiểm toán tài khoản người dùng và quyền truy cập, có thể cần thiết từ thời gian này sang thời gian khác. Những hoạt động này có thể được kích hoạt bởi các sự kiện đã liệt kê ở trên.

* Trách nhiệm cho hoạt động kiểm toán được giao cho Nhân Viên Bảo Mật của {{companyShortName}}. Nhân Viên Bảo Mật sẽ:

    * Giao nhiệm vụ tạo báo cáo cho các hoạt động kiểm toán cho thành viên trong đội ngũ chịu trách nhiệm về ứng dụng, hệ thống, hoặc mạng;
    * Giao nhiệm vụ xem xét báo cáo kiểm toán cho thành viên trong đội ngũ chịu trách nhiệm về ứng dụng, hệ thống, hoặc mạng, Nhân Viên Bảo Mật, hoặc bất kỳ cá nhân nào được xác định là phù hợp cho nhiệm vụ;
    * Tổ chức và giám sát một cấu trúc đội nhóm chịu trách nhiệm cho các hoạt động tuân thủ kiểm toán (ví dụ: tham số, tần suất, kích cỡ mẫu, định dạng báo cáo, đánh giá, theo dõi, v.v.).
    * Tất cả các kết nối tới {{companyShortName}} đều được giám sát. Quyền truy cập bị giới hạn cho một số dịch vụ, cổng, và điểm đến nhất định. Các ngoại lệ đối với các quy tắc này, nếu có, sẽ được xem xét hàng năm.

* Quy trình kiểm toán thủ công sẽ xác định và bao gồm:

    * Mô tả hoạt động cũng như lý do thực hiện kiểm toán.
    * Xác định nhân sự thực hiện đánh giá (các thành viên trong đội ngũ không được kiểm tra nhật ký kiểm toán liên quan đến hoạt động của hệ thống của chính họ).
    * Tần suất của quy trình kiểm toán.
    * Xác định các sự kiện quan trọng cần được xem xét và theo dõi thêm.
    * Xác định các kênh báo cáo thích hợp cho kết quả kiểm toán và theo dõi yêu cầu.

* Các hoạt động kiểm toán và đánh giá thủ công được theo dõi trong {{ticketingSystem}}.

* Kiểm toán, đánh giá và thử nghiệm có thể được thực hiện nội bộ hoặc thông qua bên thứ ba bên ngoài. Khi có thể, nhà cung cấp dịch vụ kiểm toán bên thứ ba không nên cung cấp dịch vụ giám sát CNTT cho tổ chức (ví dụ: các nhà cung cấp dịch vụ CNTT không nên kiểm toán các dịch vụ của chính họ để đảm bảo sự phân tách nhiệm vụ).
