### Đặt lại mật khẩu và các yêu cầu hỗ trợ khác

Nhân viên {{companyShortName}} có khả năng tự phục vụ hỗ trợ trực tiếp từ các ứng dụng kinh doanh được hỗ trợ, chẳng hạn như đặt lại mật khẩu qua công cụ SSO/IdP.

Nếu cần, người dùng có thể sử dụng bàn hỗ trợ nội bộ của chúng tôi hoặc gửi yêu cầu qua email để nhận hỗ trợ từ CNTT và Bảo mật.

Một vé được mở trong {{ticketingSystem}} cho mỗi yêu cầu hỗ trợ và được giao cho nhân viên phù hợp. Người được giao nhiệm vụ phải xác minh danh tính của người yêu cầu và đảm bảo vé có phê duyệt thích hợp trước khi thực hiện hoặc cung cấp hỗ trợ. Bước xác minh và xác nhận "Danh tính người dùng đã được xác minh" nên được đưa vào nhận xét trong vé bởi nhân viên hỗ trợ. Ngoài ra, nếu một mật khẩu hoặc thông tin xác thực bảo mật đã được tạo hoặc cung cấp, hãy xác nhận người dùng đã nhận nó qua một kênh khác như slack/email/phone/zoom và ghi nhận việc nhận được trong vé.
