### Truy cập vào PHI/ePHI

1. Truy cập vào ePHI được phép cho nhân viên khoa học gen, hoặc nhân viên có nhu cầu công việc để truy cập.
2. Truy cập vào bất kỳ máy chủ nội bộ nào chứa ePHI bị hạn chế và được giám sát. *Hiện tại {{companyShortName}} không có máy chủ nội bộ nào lưu trữ hoặc xử lý ePHI.*
3. Truy cập vào ePHI trong các môi trường sản xuất của {{companyShortName}} trên đám mây bị nghiêm cấm. Truy cập được bảo vệ thông qua nhiều lớp kiểm soát bảo mật như chính sách IAM, vai trò IAM hạn chế, cấu hình VPC, chính sách bucket S3, giám sát bên ngoài, v.v.
4. Người dùng không được phép tải ePHI xuống bất kỳ máy trạm hoặc thiết bị tính toán của người dùng cuối nào.
