### Mạng Văn Phòng và Truy Cập Không Dây

1. Các hệ thống sản xuất của {{companyShortName}} không thể truy cập trực tiếp qua các kênh không dây.
2. Truy cập không dây bị vô hiệu hóa trên tất cả các hệ thống sản xuất.
3. Khi truy cập các hệ thống sản xuất qua kết nối không dây từ xa, các chính sách và quy trình truy cập hệ thống giống như đối với các kết nối khác, bao gồm cả kết nối có dây.
4. Các mạng không dây được quản lý trong các cơ sở không sản xuất của {{companyShortName}} (văn phòng, v.v.) được bảo mật với các cấu hình sau:

    * Tất cả dữ liệu truyền qua mạng không dây được mã hóa bằng WPA2;
    * Mật khẩu hiện tại không có lịch trình xoay vòng vì các môi trường văn phòng được coi là không an toàn.
    * Mật khẩu được thay đổi ngay lập tức nếu phát hiện hoạt động đáng ngờ hoặc chỉ số xâm nhập.
    * Truy cập không dây cho khách được cấu hình trên một SSID riêng biệt với mật khẩu và VLAN lưu lượng khác nhau.
    * Truy cập không dây được quản lý bởi IT Manager.
    * Các điểm truy cập không dây kết nối với mạng được quét tự động; các điểm truy cập không hợp lệ được xác định và loại bỏ ngay lập tức.
