### Truy cập sản xuất và Quản lý bí mật

{{companyShortName}} sử dụng sự kết hợp của [{{ciSystem}} credentials store](https://support.cloudbees.com/hc/en-us/articles/203802500-Injecting-Secrets-into-{{ciSystem}}-Build-Jobs), [credstash](https://github.com/fugue/credstash), và [Amazon EC2 Systems Manager Parameter Store](https://aws.amazon.com/blogs/mt/the-right-way-to-store-secrets-using-parameter-store/) để lưu trữ bí mật sản xuất một cách an toàn. Bí mật luôn được mã hóa; việc truy cập vào bí mật luôn được kiểm soát và kiểm toán.

Chi tiết và cách sử dụng được tài liệu hóa trên {{companyShortName}} Engineering Wiki.
