### Truy Cập Từ Xa / VPN

* Truy cập từ xa qua VPN vào các môi trường không sản xuất và không đặc quyền trên AWS là cho phép và được triển khai bằng **{{provider}}**.

* Truy cập từ xa qua VPN vào các tài khoản master và sản xuất là bị cấm.

* Truy cập từ xa qua VPN vào mạng văn phòng của {{companyShortName}} được cấu hình qua **{{provider}}** và nên được sử dụng khi kết nối từ các mạng công cộng.
