### Đánh giá quyền truy cập

* Tất cả quyền truy cập vào hệ thống và dịch vụ của {{companyShortName}} được xem xét và cập nhật theo các quy trình được chỉ định trong [Kiểm toán hệ thống](system-audit.md) để đảm bảo các quyền hạn phù hợp với các chức năng công việc.
* Trong trường hợp có nguy cơ gia tăng hoặc đã biết về việc cố gắng truy cập trái phép, các bước ngay lập tức được thực hiện bởi Nhân viên Bảo mật và Quyền riêng tư để hạn chế quyền truy cập và giảm thiểu rủi ro truy cập trái phép.
