### Danh Mục Tài Sản Vật Lý

{{companyShortName}} IT sử dụng hệ thống quản lý tài sản IT dựa trên SaaS, {{provider}}, để duy trì danh mục tất cả thiết bị tính toán vật lý thuộc sở hữu của công ty, bao gồm nhưng không giới hạn ở:

* máy chủ
* trạm làm việc
* máy tính xách tay
* máy in
* thiết bị mạng

Mỗi hồ sơ bao gồm chi tiết của thiết bị vật lý như nhà sản xuất, mô hình cũng như thông tin về quyền sở hữu và ID thẻ tài sản.

Việc di chuyển phần cứng máy tính và phương tiện điện tử được duy trì như một phần của hồ sơ, bao gồm việc tái sử dụng phương tiện và phân công quyền sở hữu.

Quản lý IT của {{companyShortName}} chịu trách nhiệm đảm bảo mỗi tài sản vật lý được gán thẻ tài sản {{companyShortName}}, và hồ sơ cập nhật được duy trì trong hệ thống quản lý tài sản IT.

Tất cả các thiết bị thuộc sở hữu của công ty đều phải thực hiện xóa dữ liệu hoàn toàn nếu cần thiết, chẳng hạn như trong trường hợp thiết bị bị nhiễm virus hoặc được tái sử dụng. Việc xóa dữ liệu này sẽ được thực hiện bởi quản lý IT.
