### Danh Mục Tài Sản Kỹ Thuật Số

Nhóm Bảo Mật của {{companyShortName}} sử dụng một hệ thống tự động để truy vấn qua cơ sở hạ tầng dựa trên đám mây của chúng tôi, bao gồm nhưng không giới hạn ở AWS, để thu thập hồ sơ chi tiết về tất cả các tài sản kỹ thuật số, bao gồm nhưng không giới hạn:

* Các máy ảo
* Các phiên bản AWS EC2
* Các kho lưu trữ AWS S3
* Các hàm AWS Lambda
* Các đại lý bảo mật
* Các kho lưu trữ mã nguồn
* Các tài khoản người dùng

Các hồ sơ được lưu trữ trong một hệ thống cơ sở dữ liệu do nhóm bảo mật của {{companyShortName}} duy trì. Hồ sơ được gán thẻ với chủ sở hữu/dự án và phân loại khi áp dụng. Tất cả các hồ sơ được giữ cập nhật thông qua tự động hóa.
