### Quản lý mật khẩu

1. Các ID người dùng và mật khẩu được sử dụng để kiểm soát truy cập vào các hệ thống của {{companyShortName}} và không được tiết lộ cho bất kỳ ai vì bất kỳ lý do gì.
2. Người dùng không được phép để bất kỳ ai, vì bất kỳ lý do gì, truy cập vào bất kỳ hệ thống thông tin nào bằng ID người dùng và mật khẩu của người dùng khác.
3. Trên tất cả các hệ thống và ứng dụng sản xuất trong môi trường {{companyShortName}}, cấu hình mật khẩu được thiết lập để yêu cầu:

    * độ dài tối thiểu là 12 ký tự;
    * kết hợp giữa chữ cái viết hoa, chữ cái viết thường và số hoặc ký tự đặc biệt;
    * thời hạn mật khẩu 60 ngày, hoặc thời hạn mật khẩu 60 ngày đối với các tài khoản quản trị;
    * ngăn chặn việc sử dụng lại mật khẩu bằng cách sử dụng lịch sử của 24 mật khẩu gần nhất;
    * nếu được hỗ trợ, thay đổi ít nhất 6 ký tự khi thay đổi mật khẩu;
    * khóa tài khoản sau 5 lần thử không hợp lệ.

    !!! kiểm tra "Ngoại lệ"
    
        Thời hạn mật khẩu có thể được đặt thành khoảng thời gian dài hơn nếu tài khoản luôn được bảo vệ bằng MFA. 
        Hiện tại, khoảng thời gian xoay vòng mật khẩu SSO của {{provider}} được đặt thành 60 ngày.

4. Tất cả mật khẩu hệ thống và ứng dụng phải được lưu trữ và truyền tải một cách an toàn.

    * Khi có thể, mật khẩu nên được lưu trữ dưới dạng băm sử dụng hàm băm mật mã có muối (SHA-256 hoặc tiêu chuẩn NIST mạnh hơn).
    * Mật khẩu phải được lưu trữ dưới định dạng không băm phải được mã hóa khi lưu trữ theo các yêu cầu trong [Bảo vệ dữ liệu](data-protection.md).
    * Mật khẩu truyền tải phải được mã hóa trong quá trình truyền theo các yêu cầu trong [Bảo vệ dữ liệu](data-protection.md).

5. Mỗi hệ thống thông tin tự động yêu cầu người dùng thay đổi mật khẩu ở khoảng thời gian đã xác định trước theo quy định của chủ hệ thống và/hoặc Bảo mật, dựa trên mức độ quan trọng và nhạy cảm của dữ liệu chứa trong mạng, hệ thống, ứng dụng, và/hoặc cơ sở dữ liệu.
6. Mật khẩu sẽ được vô hiệu hóa ngay lập tức khi một nhân viên bị chấm dứt (tham khảo [Quy trình chấm dứt nhân viên trong chính sách HR](hr.md)).
7. Tất cả mật khẩu hệ thống, ứng dụng, và mật khẩu do Nhà cung cấp/Đối tác cung cấp phải được thay đổi trước khi triển khai vào môi trường sản xuất.
8. Khi đăng nhập lần đầu, người dùng phải thay đổi bất kỳ mật khẩu nào được tự động tạo ra cho họ.
9. Các phương pháp thay đổi mật khẩu phải sử dụng phương pháp xác nhận để sửa lỗi nhập liệu của người dùng.
10. Tất cả mật khẩu được sử dụng trong các kịch bản cấu hình phải được bảo mật và mã hóa.
11. Nếu một người dùng tin rằng ID người dùng của họ đã bị xâm phạm, họ phải ngay lập tức báo cáo sự cố cho [Nhóm Bảo mật](mailto:security@{{companyEmailDomain}}).
12. Trong trường hợp người dùng quên mật khẩu, quy trình đặt lại mật khẩu do IdP cung cấp sẽ được tuân theo. Quy trình chính xác phụ thuộc vào hệ thống hoặc ứng dụng. Nếu cần trợ giúp, người dùng nên liên hệ với [Hỗ trợ IT](mailto:itsupport@{{companyEmailDomain}}) hoặc [Bảo mật](mailto:security@{{companyEmailDomain}}).
13. Một trình quản lý mật khẩu được phê duyệt được sử dụng để lưu trữ hoặc chia sẻ mật khẩu ứng dụng kinh doanh không quan trọng mà không được tích hợp với IdP chính của chúng tôi thông qua SSO.

    * Trình quản lý mật khẩu mã hóa cục bộ kho mật khẩu bằng mật khẩu chính của người dùng trước khi đồng bộ hóa lên đám mây.
    * Mật khẩu chính phải tuân theo các yêu cầu mật khẩu được liệt kê ở trên.
    * MFA phải được bật trong cấu hình trình quản lý mật khẩu.
    * Đăng ký trình quản lý mật khẩu được cấu hình như một ứng dụng trong {{provider}}.

14. Một quy trình/công cụ tự động được triển khai để đảm bảo mật khẩu bị xâm phạm hoặc từ điển phổ biến không được sử dụng làm mật khẩu. Điều này hiện đang được triển khai trong {{provider}}.
