### Truy cập và Sử dụng Máy trạm / Thiết bị đầu cuối của Nhân viên

Tất cả máy trạm tại {{companyShortName}} đều là tài sản của công ty, sử dụng một trong các nhà cung cấp phần cứng và hệ điều hành được phê duyệt sau:

* Apple, Dell, hoặc Lenovo
* macOS, Linux (Ubuntu hoặc Debian), hoặc Windows 10

1. Máy trạm không được sử dụng để tham gia vào bất kỳ hoạt động nào bất hợp pháp hoặc vi phạm các chính sách của tổ chức.
2. Quyền truy cập không được sử dụng để truyền tải, truy xuất, hoặc lưu trữ bất kỳ thông tin liên lạc nào mang tính chất phân biệt đối xử hoặc quấy rối, hoặc các tài liệu khiêu dâm hoặc "X-rated". Cấm mọi hình thức quấy rối. Không được phép truyền tải hoặc lưu trữ các thông điệp có nội dung xúc phạm hoặc kích động về chủng tộc, tuổi tác, khuyết tật, tôn giáo, nguồn gốc quốc gia, đặc điểm thể chất, sở thích tình dục, hoặc tình trạng sức khỏe của một cá nhân. Không được phép sử dụng ngôn ngữ lạm dụng, thù địch, tục tĩu, hoặc xúc phạm qua hệ thống của tổ chức.
3. Các hệ thống thông tin/ứng dụng cũng không được sử dụng cho bất kỳ mục đích nào khác là bất hợp pháp, phi đạo đức, hoặc chống lại các chính sách của công ty hoặc trái với lợi ích tốt nhất của tổ chức. Các thông điệp chứa thông tin liên quan đến một vụ kiện hoặc điều tra không được gửi mà không có sự chấp thuận trước.
4. Cấm việc kêu gọi kinh doanh không thuộc công ty, hoặc bất kỳ việc sử dụng hệ thống thông tin/ứng dụng của tổ chức cho lợi ích cá nhân.
5. Người dùng không được giả mạo, che giấu, ngăn chặn, hoặc thay thế danh tính của người dùng khác trong các thông điệp được truyền hoặc lưu trữ.
6. Ổ cứng của máy trạm sẽ được mã hóa bằng FileVault (macOS), BitLocker (Windows) hoặc tương đương.
7. Tất cả máy trạm phải bật tường lửa để ngăn chặn truy cập trái phép trừ khi được cấp phép rõ ràng.
8. Tất cả máy trạm phải cài đặt phần mềm bảo mật điểm cuối và hoạt động tích cực, nếu được hệ điều hành hỗ trợ.
