### Hồ Sơ Giấy

{{companyShortName}} không sử dụng hồ sơ giấy cho bất kỳ thông tin nhạy cảm nào. Việc sử dụng giấy để ghi chép và lưu trữ dữ liệu nhạy cảm là trái với chính sách của {{companyShortName}}.
