### Quyền truy cập của Khách hàng vào Hệ thống

{{companyShortName}} không cho phép khách hàng truy cập trực tiếp vào hệ thống. Quyền truy cập chỉ được cung cấp thông qua giao diện Web UI hoặc API, với xác thực và ủy quyền hợp lệ được chi tiết hóa trong các trang Bảo mật Sản phẩm, Kiến trúc và Bảo mật của wiki kỹ thuật.
