### Kiểm soát truy cập dựa trên vai trò (RBAC)

Theo mặc định, quyền truy cập của người dùng được cấp dựa trên chức năng / vai trò công việc của họ. Ví dụ:

- Nhà phát triển
- Bảo mật
- CNTT
- Quản trị
- Tiếp thị / Bán hàng

Điều này được định nghĩa dưới dạng **nhóm người dùng** trong {{IdP}}.

Quyền truy cập vào dữ liệu nhạy cảm và dữ liệu khách hàng sản xuất được kiểm soát chặt chẽ và được định nghĩa thêm trong phần riêng.
