### Đăng Nhập Một Lần (Single Sign On)

* {{companyShortName}} đã chọn {{provider}} làm Nhà Cung Cấp Danh Tính chính (IdP) để kiểm soát quyền truy cập người dùng vào các hệ thống và ứng dụng doanh nghiệp.

* Đăng nhập một lần (SSO) nên được sử dụng khi có thể thay vì xác thực cục bộ. Cách tiếp cận tập trung này cải thiện trải nghiệm người dùng và đơn giản hóa quản lý quyền truy cập.

* SSO được cấu hình thông qua giao thức SAML tiêu chuẩn ngành giữa IdP ({{provider}}) và ứng dụng mục tiêu.

* {{companyShortName}} sẽ không cấu hình SSO cho các ứng dụng mục tiêu trừ khi chúng đạt điểm "B" trở lên trên [Qualys SSL Labs](https://www.ssllabs.com/) benchmark.

* Nhóm Bảo mật chịu trách nhiệm quản trị hệ thống IdP / SSO, bao gồm cấp phát quyền người dùng và quyền truy cập. Nhóm Bảo mật có thể ủy quyền quyền quản trị cho một phần hệ thống, chẳng hạn như một ứng dụng cụ thể.
