### Mục Tiêu và Vai Trò của BCDR

#### Mục Tiêu

Các mục tiêu sau đây đã được thiết lập cho kế hoạch này:

1. Tối đa hóa hiệu quả của các hoạt động ứng phó khẩn cấp thông qua một kế hoạch được thiết lập bao gồm các giai đoạn sau:

    * *Giai đoạn Thông Báo/Kích Hoạt* để phát hiện và đánh giá thiệt hại và kích hoạt kế hoạch;
    * *Giai đoạn Khôi Phục* để khôi phục hoạt động IT tạm thời và khôi phục thiệt hại đã xảy ra với hệ thống gốc;
    * *Giai đoạn Tái Thiết* để khôi phục khả năng xử lý hệ thống IT về hoạt động bình thường.

2. Xác định các hoạt động, tài nguyên và quy trình cần thiết để thực hiện các yêu cầu xử lý của {{companyShortName}} trong suốt thời gian gián đoạn kéo dài đến hoạt động bình thường.

3. Xác định và định nghĩa tác động của các gián đoạn đối với hệ thống của {{companyShortName}}.

4. Phân công trách nhiệm cho các cá nhân được chỉ định và cung cấp hướng dẫn để khôi phục {{companyShortName}} trong các khoảng thời gian gián đoạn kéo dài đến hoạt động bình thường.

5. Đảm bảo phối hợp với các nhân viên khác của {{companyShortName}} sẽ tham gia vào các chiến lược lập kế hoạch ứng phó khẩn cấp.

6. Đảm bảo phối hợp với các điểm liên lạc bên ngoài và các nhà cung cấp sẽ tham gia vào các chiến lược lập kế hoạch ứng phó khẩn cấp.

Ví dụ về các loại thảm họa có thể kích hoạt kế hoạch này bao gồm thiên tai, rối loạn chính trị, thảm họa do con người tạo ra, các mối đe dọa từ con người bên ngoài, và các hoạt động gây hại từ bên trong.

{{companyShortName}} đã xác định hai loại hệ thống từ góc độ phục hồi sau thảm họa.

1. *Hệ Thống Quan Trọng*. Những hệ thống này lưu trữ các máy chủ/dịch vụ ứng dụng sản xuất và máy chủ/dịch vụ cơ sở dữ liệu hoặc cần thiết cho việc hoạt động của các hệ thống lưu trữ ứng dụng và dữ liệu sản xuất. Những hệ thống này, nếu không khả dụng, sẽ ảnh hưởng đến tính toàn vẹn của dữ liệu và phải được khôi phục, hoặc bắt đầu quá trình khôi phục ngay lập tức khi không còn khả dụng.
2. *Hệ Thống Không Quan Trọng*. Đây là tất cả các hệ thống không được coi là quan trọng theo định nghĩa trên. Những hệ thống này, mặc dù có thể ảnh hưởng đến hiệu suất và bảo mật tổng thể của các hệ thống quan trọng, nhưng không ngăn cản các hệ thống quan trọng hoạt động và được truy cập một cách phù hợp. Những hệ thống này được khôi phục với mức ưu tiên thấp hơn so với các hệ thống quan trọng.

#### Dòng Kế Nhiệm

Thứ tự kế nhiệm sau đây được thiết lập để đảm bảo rằng quyền quyết định cho Kế Hoạch Ứng Phó Khẩn Cấp của {{companyShortName}} không bị gián đoạn. Giám đốc Điều hành (COO) chịu trách nhiệm đảm bảo sự an toàn của nhân viên và thực hiện các quy trình được tài liệu hóa trong Kế Hoạch Ứng Phó Khẩn Cấp của {{companyShortName}}. Trưởng phòng Kỹ thuật chịu trách nhiệm khôi phục các môi trường kỹ thuật của {{companyShortName}}. Nếu COO hoặc Trưởng phòng Kỹ thuật không thể đảm nhận vai trò tổng thể hoặc chọn giao trách nhiệm này cho người kế nhiệm, Giám đốc Điều hành (CEO) sẽ đảm nhận vai trò đó hoặc chọn một người đại diện thay thế. Để cung cấp thông tin liên lạc khi kế hoạch ứng phó cần được kích hoạt, vui lòng sử dụng danh sách liên hệ dưới đây.

* {{cooName}}, COO: {{cooEmail}}
* {{ctoName}}, Trưởng phòng Kỹ thuật: {{ctoEmail}}
* {{ceoName}}, CEO: {{ceoEmail}}

#### Các Đội Phản Ứng và Trách Nhiệm

Các đội sau đây đã được phát triển và đào tạo để phản ứng với sự kiện khẩn cấp ảnh hưởng đến cơ sở hạ tầng và hệ thống của {{companyShortName}}.

1. **IT** chịu trách nhiệm khôi phục môi trường được lưu trữ của {{companyShortName}}, các thiết bị mạng và tất cả các máy chủ. Đội ngũ bao gồm các nhân viên chịu trách nhiệm về hoạt động và bảo trì IT hàng ngày. Trưởng nhóm là Quản lý IT, người báo cáo cho COO.

2. **HR & Facilities** chịu trách nhiệm đảm bảo sự an toàn về thể chất của tất cả nhân viên {{companyShortName}} và sự an toàn môi trường tại mỗi địa điểm vật lý của {{companyShortName}}. Các thành viên trong đội cũng bao gồm các trưởng nhóm tại mỗi địa điểm làm việc của {{companyShortName}}. Trưởng nhóm là Quản lý Cơ sở hạ tầng, người báo cáo cho COO.

3. **DevOps** chịu trách nhiệm đảm bảo tất cả các ứng dụng, dịch vụ web, nền tảng và cơ sở hạ tầng hỗ trợ của chúng trong Đám Mây. Đội ngũ cũng chịu trách nhiệm kiểm tra các triển khai lại và đánh giá thiệt hại cho môi trường. Trưởng nhóm là Trưởng phòng Kỹ thuật.

4. **Bảo Mật** chịu trách nhiệm đánh giá và phản ứng với tất cả các sự cố liên quan đến an ninh mạng theo chính sách và quy trình Phản ứng Sự cố của {{companyShortName}}. Đội ngũ bảo mật sẽ hỗ trợ các đội trên trong việc khôi phục nếu cần trong các sự kiện không liên quan đến bảo mật. Trưởng nhóm là Nhân viên Bảo mật.

Các thành viên của các đội trên phải duy trì bản sao địa phương của thông tin liên hệ của đội kế nhiệm BCDR. Ngoài ra, các trưởng nhóm phải duy trì bản sao địa phương của chính sách này trong trường hợp không có truy cập Internet trong tình huống thảm họa.

Tất cả lãnh đạo điều hành phải được thông báo về tất cả các sự kiện khẩn cấp. Các thành viên hiện tại của đội ngũ lãnh đạo {{companyShortName}} bao gồm {{securityCommitteeMembers}}.
