### Kiểm Tra và Bảo Trì

COO và/hoặc Trưởng Phòng Kỹ Thuật sẽ thiết lập tiêu chí xác thực/kiểm tra của Kế Hoạch Dự Phòng, lập lịch kiểm tra hàng năm và đảm bảo thực hiện việc kiểm tra. Quá trình này cũng sẽ đóng vai trò là đào tạo cho nhân viên tham gia thực hiện kế hoạch. Ít nhất, Kế Hoạch Dự Phòng phải được kiểm tra hàng năm (trong vòng 365 ngày). Các loại bài tập xác thực/kiểm tra bao gồm kiểm tra trên bàn giấy và kiểm tra kỹ thuật. Kế Hoạch Dự Phòng cho tất cả các hệ thống ứng dụng phải được kiểm tra ít nhất bằng quy trình kiểm tra trên bàn giấy. Tuy nhiên, nếu Kế Hoạch Dự Phòng của hệ thống ứng dụng được bao gồm trong kiểm tra kỹ thuật của các hệ thống hỗ trợ tương ứng, kiểm tra kỹ thuật đó sẽ đáp ứng yêu cầu hàng năm.

#### Kiểm Tra Trên Bàn Giấy

Kiểm Tra Trên Bàn Giấy được thực hiện theo 
[Thủ Tục Bài Tập Kế Hoạch Dự Phòng Bổ Sung Chương 6 RMH của CMS](https://www.cms.gov/Research-Statistics-Data-and-Systems/CMS-Information-Technology/InformationSecurity/Downloads/RMH-Chapter-6-Supplemental-Contingency-Planning-Exercise-Procedures.docx). 
Mục tiêu chính của kiểm tra trên bàn giấy là đảm bảo nhân viên được chỉ định có kiến thức và khả năng thực hiện các yêu cầu và quy trình thông báo/kích hoạt như đã nêu trong Kế Hoạch Dự Phòng, một cách kịp thời. Các bài tập bao gồm, nhưng không giới hạn ở:

* Kiểm tra để xác nhận khả năng phản ứng với khủng hoảng một cách phối hợp, kịp thời và hiệu quả, bằng cách mô phỏng sự xảy ra của một cuộc khủng hoảng cụ thể.

#### Mô Phỏng và/hoặc Kiểm Tra Kỹ Thuật

Mục tiêu chính của kiểm tra kỹ thuật là đảm bảo các quy trình truyền thông và lưu trữ và khôi phục dữ liệu có thể hoạt động tại một địa điểm thay thế để thực hiện các chức năng và khả năng của hệ thống trong các yêu cầu được chỉ định. Kiểm tra kỹ thuật sẽ bao gồm, nhưng không giới hạn ở:

* Quy trình từ hệ thống sao lưu tại địa điểm thay thế;
* Khôi phục hệ thống sử dụng các bản sao lưu; và
* Chuyển đổi tài nguyên tính toán và lưu trữ sang địa điểm xử lý thay thế.
