### Khôi Phục Sự Kiện Dịch Vụ Ứng Dụng

{{companyShortName}} sẽ phát triển một trang trạng thái để cung cấp cập nhật theo thời gian thực và thông báo cho khách hàng của chúng tôi về tình trạng của từng dịch vụ. Trang trạng thái được cập nhật với chi tiết về sự kiện có thể gây ra gián đoạn/dừng dịch vụ.

Một bản phân tích nguyên nhân gốc rễ chi tiết (RCA) sẽ có sẵn cho khách hàng theo yêu cầu sau khi sự kiện đã xảy ra để cung cấp thêm chi tiết về nguyên nhân và kế hoạch khắc phục cho tương lai.

#### Mức Độ Sự Kiện Dịch Vụ

##### Ngắn (giờ)

* Trải nghiệm sự chậm trễ ngắn trong dịch vụ.
* {{companyShortName}} sẽ theo dõi sự kiện và xác định hướng hành động. Có thể cần phải leo thang vấn đề.

##### Vừa (ngày)

* Trải nghiệm sự chậm trễ vừa phải trong dịch vụ, nơi các quy trình đang diễn ra có thể cần được khởi động lại.
* {{companyShortName}} sẽ theo dõi sự kiện và xác định hướng hành động. Có thể cần phải leo thang vấn đề.
* {{companyShortName}} sẽ thông báo cho khách hàng về sự chậm trễ trong dịch vụ và cung cấp cập nhật trên trang trạng thái của {{companyShortName}}.

##### Dài (một tuần hoặc hơn)

* Trải nghiệm sự chậm trễ trong dịch vụ và các quy trình đang diễn ra có thể cần được khởi động lại.
* {{companyShortName}} sẽ theo dõi sự kiện và xác định hướng hành động. Có thể cần phải leo thang vấn đề.
* {{companyShortName}} sẽ thông báo cho khách hàng về sự chậm trễ trong dịch vụ và cung cấp cập nhật trên trang trạng thái của {{companyShortName}}.
