### Trách Nhiệm của Khách Hàng Sử Dụng Nền Tảng {{companyShortName}}

Các yêu cầu và hướng dẫn sau đây sẽ được cung cấp và được khách hàng của tổ chức sử dụng nền tảng {{companyShortName}} đồng ý khi lưu trữ dữ liệu nhạy cảm như {{#needStandardHIPAA}}ePHI và{{/needStandardHIPAA}} PII.

Thỏa thuận có thể ở dạng hợp đồng hoặc chấp nhận các điều khoản và điều kiện.

1. Khách hàng của {{companyShortName}} truy cập, duy trì, giữ lại, sửa đổi, ghi lại, lưu trữ, tiêu hủy, hoặc bằng cách khác nắm giữ, sử dụng, hoặc tiết lộ dữ liệu nhạy cảm chưa được bảo mật phải, không chậm trễ không hợp lý và trong mọi trường hợp không muộn hơn 72 giờ sau khi phát hiện sự vi phạm, thông báo cho {{companyShortName}} về sự vi phạm đó. Khách hàng phải cung cấp cho {{companyShortName}} các thông tin sau:

    * Mô tả về những gì đã xảy ra, bao gồm ngày xảy ra sự vi phạm, ngày phát hiện sự vi phạm và số lượng hồ sơ và khách hàng bị ảnh hưởng, nếu biết.
    * Mô tả về các loại thông tin sức khỏe được bảo vệ chưa được bảo mật có liên quan đến sự vi phạm (chẳng hạn như họ tên đầy đủ, số An Sinh Xã Hội, ngày sinh, địa chỉ nhà, số tài khoản, v.v.), nếu biết.
    * Mô tả về hành động đã thực hiện liên quan đến việc thông báo cho bệnh nhân về sự vi phạm.
    * Các bước giải quyết đã được thực hiện để giảm thiểu sự vi phạm và ngăn chặn các sự cố trong tương lai.

2. Tùy thuộc vào bản chất của sự vi phạm, một cuộc điều tra có thể được tiến hành bởi {{companyShortName}} hoặc Khách hàng hoặc phối hợp để xác định nguyên nhân của sự vi phạm.

3. Thông báo cho Truyền Thông: Trừ khi {{companyShortName}} trực tiếp gây ra nguyên nhân của sự vi phạm, Khách hàng của {{companyShortName}} chịu trách nhiệm cung cấp thông báo cho các phương tiện truyền thông nổi bật theo quyết định của Khách hàng.

4. Thông báo cho Cơ Quan Chức Năng: Trừ khi {{companyShortName}} trực tiếp gây ra nguyên nhân của sự vi phạm, Khách hàng của {{companyShortName}} chịu trách nhiệm cung cấp thông báo cho các cơ quan chức năng có thẩm quyền, bao gồm Bộ Y Tế và Dịch Vụ Nhân Sinh (HHS) và Cơ Quan Giám Sát Chính (LSA) theo GDPR, theo quyết định của Khách hàng.
