### Quy Trình Điều Tra Vi Phạm

1. Phát Hiện Vi Phạm: Một vi phạm dữ liệu sẽ được coi là "đã phát hiện" kể từ
   ngày đầu tiên mà vi phạm đó được biết đến bởi tổ chức hoặc, bằng cách thực hiện
   sự thận trọng hợp lý, đã có thể được biết đến bởi {{companyShortName}}
   (bao gồm vi phạm của khách hàng, đối tác, hoặc nhà thầu phụ của tổ chức).
   {{companyShortName}} sẽ được coi là có kiến thức về một vi phạm nếu vi phạm đó
   được biết hoặc bằng cách thực hiện sự thận trọng hợp lý đã có thể được biết
   đến, đối với bất kỳ người nào, ngoại trừ người gây ra vi phạm, là một thành
   viên trong lực lượng lao động hoặc đối tác của tổ chức. Sau khi phát hiện một
   vi phạm tiềm ẩn, tổ chức sẽ bắt đầu một cuộc điều tra (xem các chính sách của
   tổ chức về phản ứng sự cố bảo mật và/hoặc phản ứng sự cố quản lý rủi ro) ngay
   lập tức, tiến hành đánh giá rủi ro, và dựa trên kết quả của đánh giá rủi ro,
   bắt đầu quá trình thông báo cho từng khách hàng bị ảnh hưởng bởi vi phạm.
   {{companyShortName}} cũng sẽ bắt đầu quá trình xác định những thông báo nào bên
   ngoài là cần thiết hoặc nên được thực hiện (ví dụ, Bộ Y Tế và Dịch Vụ Nhân Sinh
   (HHS), các phương tiện truyền thông, các quan chức thực thi pháp luật, v.v.).

1. Điều Tra Vi Phạm: Nhân viên bảo mật của {{companyShortName}} sẽ chỉ định một cá
   nhân làm người điều tra vi phạm (ví dụ, nhân viên bảo mật, nhân viên quản lý rủi
   ro, v.v.). Người điều tra sẽ chịu trách nhiệm quản lý cuộc điều tra vi phạm,
   hoàn thành đánh giá rủi ro, và phối hợp với những người khác trong tổ chức khi
   cần thiết (ví dụ, quản trị, đội phản ứng sự cố bảo mật, nhân sự, quản lý rủi ro,
   quan hệ công chúng, luật sư, v.v.). Người điều tra sẽ là người điều phối chính
   cho tất cả các quy trình thông báo vi phạm đến các cơ quan phù hợp (ví dụ, HHS,
   truyền thông, các quan chức thực thi pháp luật, v.v.). Tất cả các tài liệu liên
   quan đến cuộc điều tra vi phạm, bao gồm cả đánh giá rủi ro, sẽ được lưu giữ trong
   ít nhất bảy năm. Một nhật ký vi phạm được giữ và duy trì bởi Nhân viên Bảo mật và
   Quyền riêng tư.

1. Đánh Giá Rủi Ro: Đánh giá rủi ro được thực hiện theo các luật và quy định hiện
   hành.

   {{#needStandardHIPAA}}
   Đối với việc tiếp nhận, truy cập, sử dụng hoặc tiết lộ ePHI để cấu thành một
   vi phạm, nó phải cấu thành một vi phạm Quy Tắc Quyền Riêng Tư HIPAA. Việc sử
   dụng hoặc tiết lộ ePHI xảy ra một cách tình cờ trong khi sử dụng hoặc tiết
   lộ hợp pháp khác và xảy ra mặc dù đã có các biện pháp bảo vệ hợp lý và các
   quy trình cần thiết tối thiểu phù hợp sẽ không phải là vi phạm Quy Tắc Quyền
   Riêng Tư và sẽ không đủ điều kiện là vi phạm tiềm ẩn. Để xác định liệu việc
   sử dụng hoặc tiết lộ không hợp pháp của ePHI có cấu thành một vi phạm và yêu
   cầu thông báo thêm, tổ chức sẽ cần thực hiện đánh giá rủi ro để xác định liệu
   có nguy cơ đáng kể nào về tổn hại cho cá nhân do việc sử dụng hoặc tiết lộ
   không hợp pháp hay không. Tổ chức phải ghi lại đánh giá rủi ro như một phần
   của cuộc điều tra trong biểu mẫu báo cáo sự cố, ghi nhận kết quả của quá trình
   đánh giá rủi ro. Tổ chức có trách nhiệm chứng minh rằng tất cả các thông báo
   cho các khách hàng phù hợp hoặc việc sử dụng hoặc tiết lộ không cấu thành một
   vi phạm. Dựa trên kết quả của đánh giá rủi ro, tổ chức sẽ xác định nhu cầu tiến
   hành thông báo vi phạm. Đánh giá rủi ro và tài liệu hỗ trợ phải cụ thể theo từng
   trường hợp và giải quyết:

    * Xem xét ai đã sử dụng không hợp pháp hoặc thông tin đã bị tiết lộ không hợp pháp cho ai;
    * Loại và số lượng ePHI liên quan;
    * Nguyên nhân của vi phạm, và tổ chức chịu trách nhiệm cho vi phạm đó, dù là Khách hàng, {{companyShortName}}, hay Đối tác.
    * Tiềm năng gây rủi ro đáng kể về tài chính, danh tiếng, hoặc tổn hại khác.
    {{/needStandardHIPAA}}

1. Kịp Thời của Thông Báo: Khi phát hiện một vi phạm, thông báo sẽ được gửi đến các
   Khách hàng của {{companyShortName}} bị ảnh hưởng, thường trong vòng 24-48 giờ nhưng
   không muộn hơn 10 ngày lịch kể từ khi phát hiện ra vi phạm. Tổ chức có trách nhiệm
   chứng minh rằng tất cả các thông báo đã được thực hiện theo yêu cầu, bao gồm bằng chứng
   chứng minh sự cần thiết của sự chậm trễ.

1. Chậm Trễ Thông Báo Được Ủy Quyền Cho Mục Đích Thực Thi Pháp Luật: Nếu một quan chức
   thực thi pháp luật tuyên bố với tổ chức rằng việc thông báo, thông báo hoặc đăng tin
   sẽ cản trở cuộc điều tra hình sự hoặc gây tổn hại đến an ninh quốc gia, tổ chức sẽ:

    * Nếu tuyên bố bằng văn bản và chỉ rõ thời gian yêu cầu trì hoãn, trì hoãn việc thông báo, thông báo hoặc đăng tin trong thời gian quy định bởi quan chức; hoặc
    * Nếu tuyên bố bằng miệng, ghi lại tuyên bố, bao gồm cả danh tính của quan chức đã đưa ra tuyên bố, và trì hoãn thông báo, thông báo hoặc đăng tin tạm thời và không quá 30 ngày kể từ ngày tuyên bố miệng, trừ khi một tuyên bố bằng văn bản như đã mô tả ở trên được gửi trong thời gian đó.

1. Nội Dung của Thông Báo: Thông báo phải được viết bằng ngôn ngữ đơn giản và phải chứa
   các thông tin sau:

    * Mô tả ngắn gọn về những gì đã xảy ra, bao gồm ngày xảy ra vi phạm và ngày phát hiện ra vi phạm, nếu biết;
    * Mô tả về các loại thông tin sức khỏe được bảo vệ chưa được bảo mật có liên quan đến vi phạm (chẳng hạn như tên đầy đủ, số An Sinh Xã Hội, ngày sinh, địa chỉ nhà, số tài khoản, chẩn đoán, mã số khuyết tật hoặc các loại thông tin khác), nếu biết;
    * Bất kỳ bước nào mà Khách hàng nên thực hiện để bảo vệ dữ liệu Khách hàng khỏi các tổn hại tiềm ẩn do vi phạm gây ra.
    * Mô tả ngắn gọn về những gì {{companyShortName}} đang làm để điều tra vi phạm, giảm thiểu tổn hại cho cá nhân và khách hàng, và bảo vệ chống lại các vi phạm tiếp theo.
    * Các quy trình liên hệ cho cá nhân để đặt câu hỏi hoặc tìm hiểu thêm thông tin, có thể bao gồm số điện thoại miễn phí, địa chỉ email, trang web, hoặc địa chỉ bưu điện.

1. Phương Thức Thông Báo: Khách hàng của {{companyShortName}} sẽ được thông báo qua email và điện thoại trong khung thời gian để báo cáo vi phạm, như đã nêu ở trên.

1. Duy Trì Thông Tin/ Nhật Ký Vi Phạm: Như đã mô tả ở trên và ngoài các báo cáo được tạo ra cho mỗi sự cố, {{companyShortName}} sẽ duy trì một quy trình để ghi lại hoặc lưu trữ tất cả các vi phạm của dữ liệu nhạy cảm chưa được bảo mật bất kể số lượng hồ sơ và khách hàng bị ảnh hưởng. Thông tin sau đây nên được thu thập/ghi lại cho mỗi vi phạm (xem mẫu Nhật Ký Thông Báo Vi Phạm):

    * Mô tả về những gì đã xảy ra, bao gồm ngày xảy ra vi phạm, ngày phát hiện ra vi phạm, và số lượng hồ sơ và khách hàng bị ảnh hưởng, nếu biết.
    * Mô tả về các loại thông tin sức khỏe được bảo vệ chưa được bảo mật có liên quan đến vi phạm (chẳng hạn như tên đầy đủ, số An Sinh Xã Hội, ngày sinh, địa chỉ nhà, số tài khoản, v.v.), nếu biết.
    * Mô tả về hành động đã thực hiện liên quan đến việc thông báo cho bệnh nhân về sự vi phạm.
    * Các bước giải quyết đã được thực hiện để giảm thiểu vi phạm và ngăn chặn các sự
