### Các Kiểm soát và Cấu hình Bảo mật Điểm Cuối Người Dùng

1. Máy tính xách tay của nhân viên, bao gồm các hệ thống Windows, Mac và Linux, được cấu hình
   bằng cách

    * Thủ công bởi CNTT hoặc chủ sở hữu thiết bị; hoặc
    * Tự động sử dụng công cụ quản lý cấu hình hoặc các kịch bản tương đương.

2. Các kiểm soát bảo mật sau đây được áp dụng tối thiểu:

    * Mã hóa đĩa
    * Tài khoản người dùng duy nhất và mật khẩu mạnh
    * Máy chủ NTP đã được phê duyệt
    * Đại lý bảo mật đã được phê duyệt
    * Khóa máy sau 2 phút không hoạt động
    * Cập nhật tự động các bản vá bảo mật

3. Các cấu hình bảo mật trên tất cả các hệ thống người dùng cuối được đội ngũ An ninh kiểm tra
   thông qua việc xem xét định kỳ thủ công hoặc công cụ kiểm toán tuân thủ tự động.
