### Yêu cầu Báo cáo Kiểm toán và Tuân thủ

{{companyShortName}}, theo quyết định riêng, chia sẻ các báo cáo kiểm toán, bao gồm
bất kỳ Kế hoạch Hành động Khắc phục (CAPs) và các ngoại lệ, với khách hàng theo từng trường hợp cụ thể. Tất cả các báo cáo kiểm toán đều được chia sẻ dưới NDA rõ ràng theo định dạng của {{companyShortName}} giữa {{companyShortName}} và bên nhận tài liệu. Các báo cáo kiểm toán có thể được yêu cầu bởi các thành viên lực lượng lao động của {{companyShortName}} cho Khách hàng hoặc trực tiếp bởi Khách hàng của {{companyShortName}}.

Quy trình sau đây được sử dụng để yêu cầu báo cáo kiểm toán:

1. Một yêu cầu có thể được gửi qua email đến
   [compliance@{{companyEmailDomain}}](mailto:compliance@{{companyEmailDomain}})
   hoặc bằng cách gửi yêu cầu qua Cổng Hỗ trợ Nội bộ của {{companyShortName}}
   hoặc Email. Trong yêu cầu, vui lòng chỉ rõ loại báo cáo được yêu cầu
   và bất kỳ thời gian cần thiết cho báo cáo.
2. Một Vấn đề với chi tiết của yêu cầu sẽ được tạo vào Dự án An ninh của {{companyShortName}}
   trên {{ticketingSystem}}, được sử dụng để theo dõi trạng thái và kết quả yêu cầu.
3. Đội ngũ bảo mật của {{companyShortName}} sẽ xác nhận nếu có NDA hiện tại với
   bên yêu cầu báo cáo kiểm toán. Nếu không có NDA, {{companyShortName}} sẽ
   gửi một bản để thực hiện.
4. Khi đã xác nhận rằng NDA đã được thực hiện, nhân viên của {{companyShortName}} sẽ chuyển
   Vấn đề trên {{ticketingSystem}} sang trạng thái "Đang xem xét".
5. Nhân viên An ninh hoặc Nhân viên Quyền riêng tư của {{companyShortName}} phải Phê duyệt hoặc Từ chối
   Vấn đề. Nếu Vấn đề bị từ chối, {{companyShortName}} sẽ thông báo cho bên yêu cầu
   rằng chúng tôi không thể chia sẻ báo cáo yêu cầu.
6. Nếu Vấn đề đã được Phê duyệt, {{companyShortName}} sẽ gửi báo cáo kiểm toán yêu cầu
   cho khách hàng và hoàn tất Vấn đề trên {{ticketingSystem}} cho yêu cầu.

Xem chính sách và quy trình chi tiết trong [Thông báo Vi phạm](breach.md)

#### Kiểm toán Bên ngoài về Quyền truy cập và Hoạt động Thông tin

Trước khi ký hợp đồng với một công ty kiểm toán bên ngoài, {{companyShortName}} sẽ:

* Xác định trách nhiệm, quyền hạn và trách nhiệm của kiểm toán
* Chọn một công ty kiểm toán độc lập với các hoạt động tổ chức khác
* Đảm bảo năng lực kỹ thuật của nhân viên công ty kiểm toán
* Yêu cầu công ty kiểm toán tuân thủ các mã đạo đức nghề nghiệp áp dụng
* Giao trách nhiệm tổ chức cho việc giám sát công ty kiểm toán bên ngoài
{{#needStandardHIPAA}}
* Đạt được một thỏa thuận liên kết doanh nghiệp HIPAA ký, nếu bất kỳ ePHI nào sẽ được chia sẻ/truy cập trong quá trình kiểm toán
{{/needStandardHIPAA}}
{{#needStandardGDPR}}
* Đạt được một thỏa thuận xử lý dữ liệu GDPR ký, nếu bất kỳ dữ liệu cá nhân nào sẽ được chia sẻ/truy cập trong quá trình kiểm toán
{{/needStandardGDPR}}

Khi có thể, nhà cung cấp dịch vụ kiểm toán bên thứ ba không nên cung cấp các dịch vụ giám sát CNTT cho tổ chức (ví dụ: nhà cung cấp dịch vụ CNTT không nên kiểm toán các dịch vụ của chính họ để đảm bảo phân tách nhiệm vụ).

#### Liên hệ cho các Yêu cầu Giao tiếp Bên ngoài

Hướng tất cả các yêu cầu giao tiếp khác đến một trong các địa chỉ sau:

* Đối với báo cáo sự cố, tiết lộ lỗ hổng và các câu hỏi liên quan đến bảo mật:
    - [security@{{companyEmailDomain}}](mailto:security@{{companyEmailDomain}})
    - <{{&securityPolicyURL}}>

* Đối với các mối quan tâm về quyền riêng tư, bao gồm báo cáo vi phạm:
    - [privacy@{{companyEmailDomain}}](mailto:privacy@{{companyEmailDomain}})
    - <{{&privacyPolicyURL}}>

* Đối với tất cả các vấn đề liên quan đến tuân thủ, bao gồm yêu cầu báo cáo kiểm toán:
    - [compliance@{{companyEmailDomain}}](mailto:compliance@{{companyEmailDomain}})
