### Quản Lý Khoá Mã Hóa

{{companyShortName}} sử dụng Dịch vụ Quản lý Khoá của AWS (KMS) cho quản lý khoá mã hóa.

- Các khoá KMS là duy nhất đối với các môi trường và dịch vụ của {{companyShortName}}.

- Các khoá KMS được tự động xoay vòng hàng năm.
