### Bảo Vệ Dữ Liệu Trong Quá Trình Sử Dụng

Dữ liệu trong quá trình sử dụng, đôi khi được gọi là Dữ liệu trong quá trình xử lý, đề cập đến dữ liệu đang được xử lý bởi các hệ thống và ứng dụng, thường được lưu trữ trong trạng thái số không bền vững như trong bộ nhớ truy cập ngẫu nhiên (RAM), bộ nhớ đệm CPU, hoặc các thanh ghi CPU.

Bảo vệ dữ liệu trong quá trình sử dụng phụ thuộc vào các kiểm soát ở lớp ứng dụng và các kiểm soát truy cập hệ thống. Xem các phần [Bảo mật sản xuất / SDLC][1] và [Truy cập][2] để biết thêm chi tiết.

[1]: sdlc.md
[2]: access.md

Các ứng dụng của {{companyShortName}} thực hiện phân tách dữ liệu ở cấp độ tài khoản logic để bảo vệ dữ liệu trong môi trường đa thuê bao. Ngoài ra, các ứng dụng của {{companyShortName}} có thể tích hợp các tính năng bảo mật nâng cao như các mô-đun Bảo vệ Ứng dụng trong Thời gian Thực (RASP) và Kiểm soát Truy cập Dựa trên Thuộc tính (ABAC) để bảo vệ dữ liệu trong quá trình sử dụng.
