### Quản Lý Chứng Chỉ

{{companyShortName}} sử dụng AWS Certificate Manager (ACM) và LetsEncrypt để quản lý chứng chỉ.

- Các chứng chỉ được gia hạn tự động.

- Nhóm bảo mật theo dõi các chứng chỉ để kiểm tra thời hạn, nguy cơ bị xâm phạm và sử dụng/hiệu lực. Quy trình thu hồi chứng chỉ được thực hiện nếu chứng chỉ không còn cần thiết hoặc khi phát hiện có khả năng bị xâm phạm.
