## Quy Trình Sàng Lọc Nhân Viên

{{companyShortName}} công bố mô tả công việc cho các vị trí tuyển dụng và tiến hành phỏng vấn để đánh giá kỹ năng kỹ thuật cũng như sự phù hợp với văn hóa của ứng viên trước khi tuyển dụng.

Kiểm tra lý lịch của nhân viên hoặc nhà thầu được thực hiện bởi bộ phận HR/hoạt động và/hoặc nhóm tuyển dụng trước ngày bắt đầu làm việc.
