## Quy Trình Thăng Cấp Vấn Đề

Các thành viên trong lực lượng lao động của {{companyShortName}} phải thăng cấp các vấn đề theo quy trình được mô tả trong Tài liệu Tham Khảo Nhanh của Nhân Viên. Các vấn đề được đưa lên Đội Thăng Cấp sẽ được chỉ định cho một người phụ trách. Thành viên của Đội Thăng Cấp được duy trì bởi Giám Đốc Điều Hành hoặc người được ủy quyền.

Các sự cố bảo mật, đặc biệt là những sự cố liên quan đến dữ liệu nhạy cảm, được xử lý theo quy trình mô tả trong [Xử Lý Sự Cố](ir.md). Nếu sự cố liên quan đến vi phạm dữ liệu nhạy cảm, Nhân Viên Bảo Mật sẽ quản lý sự cố theo quy trình được mô tả trong [Thông Báo Vi Phạm](breach.md). Xem [Xử Lý Sự Cố](ir.md) để biết danh sách các mục mẫu có thể kích hoạt quy trình xử lý sự cố của {{companyShortName}}; nếu bạn không chắc chắn liệu vấn đề có phải là sự cố bảo mật hay không, hãy liên hệ ngay với đội ngũ Bảo Mật.

Nhiệm vụ của người phụ trách sự cố là tuân theo quy trình được mô tả dưới đây:

1. Tạo một Vấn Đề trong Dự Án Bảo Mật của {{ticketingSystem}}.
2. Vấn Đề được điều tra, tài liệu hóa, và khi đạt được kết luận hoặc giải pháp, sẽ được chuyển sang Xem Xét.
3. Vấn Đề được xem xét bởi một thành viên khác của Đội Thăng Cấp. Nếu Vấn Đề bị từ chối, nó sẽ trở lại để được đánh giá và xem xét thêm.
4. Nếu Vấn Đề được chấp nhận, nó sẽ được đánh dấu là Đã Hoàn Thành, kèm theo bất kỳ ghi chú cần thiết nào.
5. Thành viên trong lực lượng lao động đã khởi xướng quy trình sẽ được thông báo về kết quả qua email.
