## Chính Sách và Quy Trình Báo Cáo

{{companyShortName}} yêu cầu tất cả các thành viên trong lực lượng lao động tuân thủ các tiêu chuẩn cao về đạo đức kinh doanh và cá nhân trong việc thực hiện nhiệm vụ và trách nhiệm của họ. Tất cả các thành viên trong lực lượng lao động phải thực hành sự trung thực và chính trực trong việc thực hiện trách nhiệm của mình và tuân thủ tất cả các luật lệ và quy định hiện hành.

(a) **Trách Nhiệm Báo Cáo**. Mỗi thành viên trong lực lượng lao động đều được yêu cầu và khuyến khích báo cáo các mối quan tâm nghiêm trọng để {{companyShortName}} có thể giải quyết và điều chỉnh hành vi và hành động không phù hợp. Điều này bao gồm:

  * Các vấn đề kế toán hoặc kiểm toán đáng nghi ngờ hoặc không đúng,
  * Vi phạm và nghi ngờ vi phạm chính sách hoặc đạo đức của công ty, hoặc
  * Nghi ngờ vi phạm luật lệ hoặc quy định điều chỉnh hoạt động của {{companyShortName}}.

(b) **Hành Động Trong Tinh Thần Tốt**. Mọi người gửi đơn khiếu nại bằng văn bản về một sự vi phạm hoặc nghi ngờ vi phạm phải hành động trong tinh thần tốt và có lý do hợp lý để tin rằng thông tin được công bố chỉ ra một sự vi phạm. Bất kỳ cáo buộc nào không được chứng minh và được chứng minh là có động cơ xấu hoặc cố ý sai sự thật sẽ được xem là một vi phạm kỷ luật nghiêm trọng.

(c) **Bảo Mật**. Đến mức có thể, sự bảo mật của người tố cáo sẽ được duy trì. Tuy nhiên, danh tính có thể phải được tiết lộ để thực hiện một cuộc điều tra đầy đủ, để tuân thủ luật pháp và để cung cấp cho các cá nhân bị cáo quyền bảo vệ pháp lý của họ.

(d) **Không Trả Thù**. Các thành viên trong lực lượng lao động, trong tinh thần tốt, báo cáo một mối quan tâm theo Chính Sách Báo Cáo sẽ KHÔNG bị trả thù hoặc gặp phải các hậu quả tiêu cực trong công việc. Hơn nữa, bất kỳ thành viên nào trong lực lượng lao động nào trả thù đối với người đã báo cáo một mối quan tâm trong tinh thần tốt sẽ phải chịu các hành động kỷ luật, bao gồm cả việc chấm dứt hợp đồng lao động.

(e) **Báo Cáo**. Các báo cáo về mối quan tâm có thể được gửi trực tiếp đến Giám đốc điều hành (CEO), Giám đốc điều hành (COO), và/hoặc Nhân viên Tuân thủ. Các chi tiết về quy trình báo cáo bổ sung có thể được tìm thấy trong sổ tay nhân viên.
