## Phân Tích Sự Kiện Bảo Mật

Các nhật ký bảo mật, sự kiện và các dấu vết kiểm toán được nhóm bảo mật xem xét với sự hỗ trợ của các hệ thống và quy trình tự động.

* Các nhật ký kiểm toán được phân tích và liên kết tự động bởi các giải pháp giám sát và/hoặc hệ thống quản lý thông tin và sự kiện bảo mật tập trung.
* Các hệ thống được cấu hình với các quy tắc/chính sách để xác định các hoạt động đáng nghi ngờ, lỗ hổng và cấu hình không đúng.
* Các cảnh báo được kích hoạt khi phát hiện một vấn đề dựa trên cấu hình chính sách.
* Các cảnh báo được gửi ngay lập tức đến nhân viên phụ trách (ví dụ: nhóm bảo mật) để phân tích. Các cảnh báo có thể được gửi qua email, tin nhắn Slack, hoặc như một thông báo trên bảng điều khiển giám sát.
* Phân tích được ưu tiên dựa trên mức độ nghiêm trọng của cảnh báo. Các cảnh báo nghiêm trọng cao thường được xem xét trong vòng 24 giờ.
* Quy trình phản ứng sự cố được thực hiện khi cần thiết.
* Các bản vá và cập nhật sẽ được áp dụng cho tất cả các hệ thống một cách kịp thời.
