## Giáo Dục Liên Tục và Phát Triển Kỹ Năng

{{companyShortName}} cung cấp cho nhân viên cơ hội tham dự các hội nghị, triển lãm thương mại và/hoặc các khóa đào tạo/nghiên cứu liên tục phù hợp với chức năng công việc và mục tiêu kinh doanh của họ.
