## Quy Trình Đánh Giá Hiệu Suất Nhân Viên

Các đánh giá hiệu suất chính thức được thực hiện hàng năm bằng cách sử dụng {{provider}}.

- Phản hồi 360 độ được thu thập từ các thành viên trong nhóm làm việc trực tiếp với nhân viên.
- Nhân viên cung cấp đánh giá tự thân về cả kết quả hiệu suất và hành vi.
- Quản lý xem xét đánh giá tự thân của nhân viên và phản hồi từ đồng nghiệp, và tài liệu hóa đánh giá cuối cùng và xếp hạng.
- Đánh giá cuối cùng và xếp hạng được xem xét và ký bởi cả nhân viên và quản lý của họ.
