## Quy Trình Rời Bỏ/Nghỉ Việc Của Nhân Viên

Danh sách kiểm tra chính cho việc rời bỏ/nghỉ việc của nhân viên được duy trì bởi
Bộ Phận Nhân Sự/Cơ Sở. Nó được công bố trong hệ thống Nhân Sự hoặc thư mục Nhân Sự trên
[trang chia sẻ tập tin nội bộ của {{companyShortName}}](#).

1. Bộ Phận Nhân Sự (hoặc phòng ban được chỉ định khác), người dùng và
   các giám sát viên của họ (HR) phải thông báo cho Bộ Phận Bảo Mật khi hoàn thành và/hoặc
   kết thúc quyền truy cập và hỗ trợ hoàn thành "Danh Sách Kiểm Tra Nghỉ Việc".
2. Bộ Phận Nhân Sự phải thông báo cho Bộ Phận Bảo Mật để chấm dứt quyền truy cập của người dùng nếu
   có bằng chứng hoặc lý do để tin rằng những sự cố sau đây xảy ra (những sự cố này cũng được
   báo cáo trong một báo cáo sự cố và được lưu trữ với Nhân Viên Bảo Mật):

    * Người dùng đã sử dụng quyền truy cập của mình một cách không phù hợp;
    * Mật khẩu của người dùng đã bị xâm phạm (mật khẩu mới có thể được cung cấp cho
      người dùng nếu người dùng không được xác định là người đã xâm phạm mật khẩu
      gốc);
    * Một cá nhân không được ủy quyền đang sử dụng ID Đăng Nhập Người Dùng và
      mật khẩu của người dùng (mật khẩu mới có thể được cung cấp cho người dùng nếu người dùng không
      được xác định là đã cung cấp ID Đăng Nhập Người Dùng và mật khẩu cho cá nhân không được
      ủy quyền).

3. Bộ Phận Bảo Mật sẽ chấm dứt quyền truy cập của người dùng ngay lập tức sau khi nhận được thông báo,
   và sẽ phối hợp với các nhân viên của {{companyShortName}} để chấm dứt
   quyền truy cập vào bất kỳ hệ thống không sản xuất nào do các nhân viên đó quản lý.
4. Bộ Phận Bảo Mật sẽ kiểm tra và có thể chấm dứt quyền truy cập của các người dùng không đăng nhập vào
   hệ thống/tài ứng dụng thông tin của tổ chức trong một khoảng thời gian dài.
