## Trách Nhiệm của Hội Đồng Quản Trị

Hội Đồng Quản Trị (BoD) họp hàng quý để thảo luận về tài chính, hoạt động, kết quả kinh doanh, chiến lược và kế hoạch. Các trách nhiệm của BoD bao gồm:

* Đánh giá hiệu suất của Giám Đốc Điều Hành (CEO) và đội ngũ quản lý điều hành

* Thiết lập chính sách, đánh giá và phê duyệt mức lương của các quản lý cấp cao của công ty

* Xem xét các kế hoạch kế nhiệm và chương trình phát triển cho các quản lý cấp cao

* Xem xét và phê duyệt các kế hoạch chiến lược và kinh doanh dài hạn và theo dõi hiệu suất của tổ chức so với các kế hoạch

* Xem xét và phê duyệt bất kỳ rủi ro lớn nào và các phương án khắc phục/đồng ý với rủi ro

* Thông qua các chính sách về hành vi doanh nghiệp, bao gồm tuân thủ các luật, quy tắc và quy định áp dụng, duy trì các kiểm soát kế toán, tài chính và các kiểm soát khác, và xem xét sự đầy đủ của các hệ thống và kiểm soát tuân thủ

* Đánh giá hiệu quả tổng thể của Hội Đồng và các ủy ban của nó và các giám đốc cá nhân theo định kỳ

* Áp dụng và thực hiện các thực tiễn tốt nhất về quản trị công ty theo đúng các luật, quy tắc và quy định áp dụng
