## Chế Độ Vận Hành Khẩn Cấp

Nếu một sự cố được coi là khẩn cấp – chẳng hạn như một cuộc tấn công mạng được phát hiện ảnh hưởng đến hệ thống sản xuất – {{companyShortName}} dự định hoạt động ở chế độ “chỉ đọc” để tiếp tục cung cấp quyền truy cập dữ liệu cho khách hàng. Tất cả quyền truy cập ghi sẽ bị tạm thời chặn và việc tải dữ liệu lên sẽ bị tạm dừng cho đến khi sự cố khẩn cấp được giải quyết. Điều này được thực hiện bằng cách cập nhật chính sách truy cập trong các môi trường AWS sản xuất.

Trong chế độ vận hành khẩn cấp, quyền truy cập tạm thời có thể được cấp cho nhóm bảo mật và/hoặc nhóm kỹ thuật để truy cập các môi trường sản xuất nhằm thực hiện các hoạt động phân tích điều tra, phân tích nguyên nhân gốc rễ, tiêu diệt/khắc phục sự cố, hoặc các hoạt động cần thiết khác để phục hồi sự cố.
