## Giao Tiếp Kinh Doanh Nội Bộ

#### Cập Nhật Toàn Công Ty

{{companyShortName}} tổ chức một cuộc họp toàn công ty ít nhất hàng quý để thông báo các cập nhật về tất cả các khía cạnh của hoạt động kinh doanh, hiệu suất và mục tiêu.

Quản lý cấp cao gửi các thông báo toàn công ty bổ sung khi cần thông qua các kênh giao tiếp nội bộ đã được thiết lập trước như email hoặc tin nhắn (ví dụ: kênh Slack #general).

#### Cập Nhật Tình Trạng Bộ Phận, Đội Nhóm và/hoặc Dự Án

Các cập nhật hiệu suất và tình trạng định kỳ được thông báo bởi mỗi bộ phận, nhóm chức năng và/hoặc các cá nhân được chỉ định thông qua các kênh đã được thiết lập trước.

Ngoài ra, mỗi nhóm dự án duy trì các cập nhật nhóm theo nhịp độ và kênh riêng của họ -- ví dụ, các cuộc họp đứng/scrum phát triển hàng ngày hoặc các cuộc họp nhóm hàng tuần.
