## Chương Trình và Phạm Vi Bảo Mật Thông Tin

{{companyShortName}} đã phát triển một chương trình bảo mật và triển khai các kiểm soát để đáp ứng và vượt qua tất cả các yêu cầu tuân thủ, bao gồm nhưng không giới hạn ở
{{#needStandardHIPAA}}HIPAA,{{/needStandardHIPAA}}
{{#needStandardPCI}}PCI,{{/needStandardPCI}}
{{#needStandardNIST}}NIST,{{/needStandardNIST}}
SOC 2 Các Tiêu Chí Chung và các thực tiễn tốt nhất ngành áp dụng khác.

Ở mức độ cao, chương trình bảo mật thông tin của {{companyShortName}} bao gồm:

1. Danh mục và bảo vệ tất cả các tài sản quan trọng
2. Tầm nhìn vào và quản lý vòng đời dữ liệu, từ tạo ra đến lưu trữ đến xóa bỏ
3. Bảo vệ dữ liệu khi nghỉ, dữ liệu đang truyền và dữ liệu đang sử dụng
4. Kiến trúc mạng phân đoạn
5. Cấu hình bảo mật tự động và khắc phục sự cố
6. Quản lý danh tính và quyền truy cập tập trung
7. Phát triển sản phẩm an toàn
8. Giám sát và kiểm toán liên tục
9. Kế hoạch và thực hành đã được xác thực cho liên tục kinh doanh, khôi phục sau thảm họa và phản ứng khẩn cấp
10. Bảo vệ máy tính của người dùng cuối và đào tạo nhận thức

Thông tin thêm về chương trình Bảo mật và Quyền riêng tư của {{companyShortName}} có thể được tìm thấy tại [{{securityPolicyURL}}]({{&securityPolicyURL}}) và
[{{privacyPolicyURL}}]({{&privacyPolicyURL}}).

Chương trình bảo mật thông tin và các chính sách cũng như quy trình của nó bao phủ tất cả các thành viên trong lực lượng lao động của {{companyShortName}}, bao gồm nhân viên toàn thời gian và bán thời gian trong tất cả các vai trò công việc, nhân viên tạm thời, nhà thầu và nhà cung cấp phụ, tình nguyện viên, thực tập sinh, nhân viên quản lý, điều hành và các bên thứ ba.

Chương trình bảo mật thông tin được quản lý bởi nhân sự bảo mật và tuân thủ chuyên trách, sử dụng {{provider}} như một nền tảng GRC.
