### Đội Phản Ứng Sự Cố Bảo Mật (SIRT)

Đội Phản Ứng Sự Cố Bảo Mật (SIRT) chịu trách nhiệm cho:

* Xem xét, phân tích và ghi lại tất cả các báo cáo nhận được và theo dõi tình trạng của chúng.
* Thực hiện các cuộc điều tra, tạo ra và thực hiện kế hoạch hành động, và các hoạt động sau sự cố.
* Hợp tác với các cơ quan thực thi pháp luật.

Các thành viên hiện tại của SIRT tại {{companyShortName}}:

* Nhân viên An ninh và Quyền riêng tư
* Kỹ sư Bảo mật
* Trưởng phòng Kỹ thuật
* Đội Hỗ trợ DevOps và Sản xuất
