## Đánh Giá và Báo Cáo

Chương trình bảo mật thông tin, các chính sách, quy trình và kiểm soát được xem xét định kỳ bởi các thành viên trong nhóm chức năng chéo và các đánh giá viên đủ điều kiện bên ngoài.

{{#haveSecurityScorecard}}
Một bảng điểm bảo mật được sản xuất mỗi {{securityScorecardPeriod}} với các cập nhật về các chỉ số chính của chương trình bảo mật thông tin {{companyShortName}}, nhằm đo lường mức độ áp dụng và hiệu quả của nó.

Bảng điểm mới nhất có thể được truy cập tại đây: [Bảng Điểm Bảo Mật]({{&securityScorecardURL}}).
{{/haveSecurityScorecard}}
