### Chất lượng dịch vụ

{{companyShortName}} nỗ lực cung cấp dịch vụ chất lượng cao
cho tất cả khách hàng của mình. Điều này được thực hiện thông qua một
kiến trúc bảo mật bao phủ tất cả các hoạt động của {{companyShortName}}
và cung cấp độ bảo mật dữ liệu cao, toàn vẹn và khả năng sẵn sàng.

Tổng quan về kiến trúc của {{companyShortName}} có thể được tìm thấy tại
[Kiến trúc bảo mật](cp-model-architecture.md).
{{companyShortName}} sử dụng kiến trúc đám mây có khả năng mở rộng cao để
đảm bảo chất lượng hệ thống mọi lúc.

Tất cả các hệ thống được giám sát và đo lường theo thời gian thực như được mô tả trong
[Khôi phục sự kiện dịch vụ ứng dụng](cp-bcdr-app.md).

{{companyShortName}} sử dụng phương pháp DevOps như được mô tả trong
[Quy trình phát triển phần mềm](cp-sdlc-dev.md)
để đảm bảo quy trình giao hàng suôn sẻ của tất cả các hệ thống và ứng dụng.

Tình trạng của các ứng dụng và hệ thống hướng ra bên ngoài, khách hàng được công bố
tại {{&statusPageURL}}.
