### Metrics, Measurements and Continuous Monitoring

Một bộ chỉ số / KPIs đã được xác định để hỗ trợ việc đo lường, báo cáo và tối ưu hóa chương trình bảo mật và các kiểm soát hiện có.

Một bảng điểm bảo mật (security scorecard) được sản xuất mỗi {{securityReportingPeriod}} với các cập nhật về các chỉ số chính của chương trình bảo mật thông tin của {{companyShortName}}, nhằm đo lường sự chấp nhận và hiệu quả của nó.

Các báo cáo và bảng điểm được duy trì bởi và có thể được truy cập tại {{provider}}.
