### Chính sách Quyền riêng tư

Chính sách Quyền riêng tư hiện tại được công bố tại
<{{&privacyPolicyURL}}>

### Thông báo Thực tiễn Quyền riêng tư

Thông báo Thực tiễn Quyền riêng tư (NPP) hiện tại được công bố tại
<{{&privacyPolicyURL}}>

### Điều khoản Sử dụng và Đồng ý

Điều khoản Sử dụng và Đồng ý cho nền tảng và ứng dụng của {{companyShortName}} được lưu trữ trực tuyến hoặc trong chính ứng dụng.
