## Rủi Ro Gian Lận

Do văn hóa minh bạch, quy mô đội ngũ và mô hình hoạt động của {{companyShortName}}, bao gồm phân tách nhiệm vụ, kiểm soát toàn diện, giám sát và kiểm toán liên tục, {{companyShortName}} coi rủi ro liên quan đến gian lận là rất thấp.

{{companyShortName}} thuê {{CPA}} để thực hiện các dịch vụ kế toán và kiểm toán tài chính hàng năm.

Rủi ro gian lận được đánh giá lại như một phần của đánh giá rủi ro hàng năm của tổ chức. Đánh giá này xem xét các khía cạnh sau của gian lận:

- Áp lực và/hoặc động lực
- Cơ hội
- Lý do

Đánh giá gian lận liên quan đến tài chính được dẫn dắt bởi COO/CFO.

Đánh giá gian lận liên quan đến CNTT được dẫn dắt bởi Cán bộ Tuân thủ hoặc CISO.

#### Gian Lận Tiềm Tàng và Xác Suất

Rủi Ro Gian Lận                      | Xác Suất | Kiểm Soát/ Giám Sát Đã Thực Hiện
-----------------------------          | ---------- | ----------------------------
Báo Cáo Tài Chính Gian Lận           | Thấp       | Xem xét hàng tháng của đội ngũ điều hành về kế hoạch kinh doanh và doanh thu; Kiểm tra tài chính bởi công ty kế toán bên ngoài
Lạm Dụng Tài Sản                     | Thấp       | Báo cáo chi phí và theo dõi tài sản đã được thiết lập
Hành Vi Quy Định và Pháp Lý          | Thấp       | Chính sách và quy trình kiểm toán và tuân thủ, bao gồm quy trình tố cáo; thuê công ty luật bên ngoài để xem xét hành vi pháp lý
Gian Lận Lương                       | Thấp       | Lương được xem xét bởi ít nhất hai người nội bộ cũng như bởi công ty kế toán bên ngoài
Nhận Hối Lộ / Xung Đột Lợi Ích       | Thấp       | Quy trình xem xét và lựa chọn nhà cung cấp theo nhóm
Lạm Dụng Tài Nguyên Đám Mây         | Thấp       | Giám sát tài nguyên liên tục cho tất cả các tài khoản và khu vực đám mây và giám sát chi phí
Gian Lận CNTT Khác                   | Thấp       | Theo dõi tài sản và tài nguyên CNTT
