## Giảm Thiểu và Giám Sát Rủi Ro

Việc giảm thiểu rủi ro bao gồm việc ưu tiên, đánh giá và thực hiện các biện pháp kiểm soát giảm thiểu rủi ro phù hợp được khuyến nghị từ quy trình Đánh Giá Rủi Ro để đảm bảo tính bảo mật, toàn vẹn và khả dụng của dữ liệu trên nền tảng của {{companyShortName}}. Xác định các kiểm soát phù hợp để giảm thiểu rủi ro phụ thuộc vào sự chấp nhận rủi ro của tổ chức phù hợp với mục tiêu và sứ mệnh của mình.

* Bước 1. Ưu Tiên Các Hành Động

    * Sử dụng kết quả từ Bước 7 của Đánh Giá Rủi Ro, phân loại các cặp mối đe dọa và lỗ hổng theo mức độ rủi ro giảm dần. Điều này thiết lập một danh sách ưu tiên các hành động cần thực hiện, với các cặp ở đầu danh sách nhận được sự chú ý và ưu tiên hàng đầu trong việc phân bổ tài nguyên.

    * Kết quả - Các hành động được xếp hạng từ cao đến thấp

* Bước 2. Đánh Giá Các Tùy Chọn Kiểm Soát Được Khuyến Nghị

    * Mặc dù các kiểm soát có thể cho từng cặp mối đe dọa và lỗ hổng đã được xác định ở Bước 8 của Đánh Giá Rủi Ro, hãy xem xét các kiểm soát được khuyến nghị và các giải pháp thay thế về tính hợp lý và phù hợp. Phân tích tính khả thi (ví dụ: khả năng tương thích, sự chấp nhận của người dùng, v.v.) và hiệu quả (ví dụ: mức độ bảo vệ và mức độ giảm thiểu rủi ro) của các kiểm soát được khuyến nghị. Cuối cùng, chọn một tùy chọn kiểm soát "phù hợp nhất" cho từng cặp mối đe dọa và lỗ hổng.

    * Kết quả - Danh sách các kiểm soát khả thi

* Bước 3. Thực Hiện Phân Tích Chi Phí-Lợi Ích

    * Xác định mức độ kiểm soát có hiệu quả về chi phí. So sánh lợi ích (ví dụ: giảm thiểu rủi ro) của việc áp dụng một kiểm soát với chi phí ứng dụng của nó. Các kiểm soát không hiệu quả về chi phí cũng sẽ được xác định trong bước này. Phân tích từng kiểm soát hoặc tập hợp các kiểm soát theo cách này, và ưu tiên giữa tất cả các kiểm soát đang được xem xét, có thể giúp rất nhiều trong quy trình ra quyết định.

    * Kết quả - Phân tích chi phí-lợi ích đã được tài liệu hóa cho việc thực hiện hoặc không thực hiện từng kiểm soát cụ thể

* Bước 4. Chọn Kiểm Soát

    * Dựa trên thông tin và kết quả từ các bước trước, sứ mệnh của {{companyShortName}}, và các tiêu chí quan trọng khác, Nhóm Quản Lý Rủi Ro xác định các kiểm soát tốt nhất để giảm thiểu rủi ro đối với hệ thống thông tin và dữ liệu bảo mật, toàn vẹn và khả dụng. Các kiểm soát này có thể bao gồm một sự kết hợp của các biện pháp bảo vệ hành chính, vật lý và/hoặc kỹ thuật.

    * Kết quả - Các kiểm soát được chọn

* Bước 5. Phân Công Trách Nhiệm

    * Xác định các thành viên trong đội ngũ có kỹ năng cần thiết để thực hiện từng kiểm soát cụ thể được nêu trong bước trước, và phân công trách nhiệm của họ. Đồng thời xác định thiết bị, đào tạo và các nguồn lực khác cần thiết để thực hiện các kiểm soát thành công. Các nguồn lực có thể bao gồm thời gian, tiền bạc, thiết bị, v.v.

    * Kết quả - Danh sách các nguồn lực, người phụ trách và nhiệm vụ của họ

* Bước 6. Phát Triển Kế Hoạch Thực Hiện Biện Pháp Bảo Vệ

    * Phát triển kế hoạch thực hiện tổng thể hoặc kế hoạch hành động và các kế hoạch dự án cá nhân cần thiết để thực hiện các biện pháp bảo vệ và kiểm soát đã được xác định. Kế hoạch Thực Hiện nên chứa các thông tin sau:

        * Mỗi cặp mối đe dọa/lỗ hổng và mức độ rủi ro;
        * Các hành động ưu tiên;
        * Các kiểm soát khả thi được khuyến nghị cho từng rủi ro được xác định;
        * Các nguồn lực cần thiết để thực hiện các kiểm soát đã chọn;
        * Thành viên nhóm phụ trách việc thực hiện từng kiểm soát;
        * Ngày bắt đầu thực hiện
        * Ngày dự kiến hoàn thành việc thực hiện;
        * Các yêu cầu bảo trì.

    * Kế hoạch thực hiện tổng thể cung cấp cái nhìn tổng quan về việc thực hiện biện pháp bảo vệ, xác định các cột mốc quan trọng và thời gian, yêu cầu nguồn lực (thời gian của nhân viên và các cá nhân khác, ngân sách, v.v.), mối quan hệ giữa các dự án, và bất kỳ thông tin liên quan nào khác. Báo cáo tình trạng thường xuyên của kế hoạch, cùng với các chỉ số chính và các chỉ số thành công nên được báo cáo cho Ban Quản Lý Cấp Cao của {{companyShortName}}.

    * Các kế hoạch dự án cá nhân cho việc thực hiện biện pháp bảo vệ có thể được phát triển và chứa các bước chi tiết mà các nguồn lực được phân công thực hiện để đáp ứng thời gian và kỳ vọng thực hiện. Ngoài ra, xem xét việc bao gồm các mục trong kế hoạch dự án cá nhân như phạm vi dự án, danh sách các sản phẩm giao hàng, giả định chính, mục tiêu, ngày hoàn thành nhiệm vụ và yêu cầu dự án.

    * Kết quả - Kế hoạch Thực Hiện Biện Pháp Bảo Vệ

* Bước 7. Thực Hiện Các Kiểm Soát Đã Chọn

    * Khi các kiểm soát được thực hiện, giám sát các hệ thống bị ảnh hưởng để xác minh rằng các kiểm soát đã thực hiện tiếp tục đáp ứng các kỳ vọng. Việc loại bỏ hoàn toàn tất cả các rủi ro là không thực tế. Tùy thuộc vào các tình huống cá nhân, các kiểm soát được thực hiện có thể giảm mức độ rủi ro nhưng không hoàn toàn loại bỏ rủi ro.

    * Thường xuyên và nhất quán thông báo các kỳ vọng cho tất cả các thành viên Nhóm Quản Lý Rủi Ro, cũng như quản lý cấp cao và các cá nhân quan trọng khác trong suốt quá trình giảm thiểu rủi ro. Xác định khi các rủi ro mới được xác định và khi các kiểm soát giảm thiểu hoặc thay thế rủi ro thay vì loại bỏ nó.

    * Việc giám sát thêm là đặc biệt quan trọng trong các thời điểm thay đổi môi trường lớn, thay đổi tổ chức hoặc quy trình, hoặc thay đổi cơ sở vật chất lớn.

    * Nếu các kỳ vọng giảm thiểu rủi ro không đạt được, thì lặp lại toàn bộ hoặc một phần quy trình quản lý rủi ro để xác định các kiểm soát bổ sung cần thiết để giảm thiểu rủi ro đến mức chấp nhận được.

    * Kết quả - Tài liệu rủi ro còn lại
