## Mục Tiêu Quản Lý Rủi Ro

{{companyShortName}} đã thiết lập các quy trình phân tích và quản lý rủi ro chính thức để:

- Xác định các rủi ro có thể ảnh hưởng đến hoạt động kinh doanh của mình hoặc tính bảo mật, toàn vẹn và khả dụng của dữ liệu quan trọng; và

- Giảm thiểu rủi ro đến mức chấp nhận được bằng cách thực hiện các biện pháp kiểm soát giảm thiểu.

Các rủi ro chưa được giảm thiểu vượt quá mức chấp nhận trước đó phải được quản lý cấp cao xem xét, phê duyệt và chấp nhận.

#### Mức Độ Rủi Ro Chấp Nhận

Các rủi ro có tác động thấp hoặc xác suất thấp, dựa trên cơ chế chấm điểm được xác định trong [quy trình đánh giá rủi ro](cp-risk-assess.md), thường được coi là chấp nhận được.

Tất cả các rủi ro khác phải được xem xét và quản lý theo quy trình [quản lý rủi ro](cp-risk-mgmt.md).
