## Kiểm Tra Bảo Mật Ứng Dụng Động (DAST)

Kiểm tra động có sẵn theo yêu cầu của nhóm Bảo mật và được thực hiện bằng cách sử dụng {{provider}}. Nhóm Bảo mật hiện đang xem xét việc tự động hóa loại quét này.

Ngoài ra, kiểm tra động cơ bản thủ công có sẵn theo yêu cầu của nhóm Bảo mật.

#### Tích Hợp Kiểm Tra Động vào Các Kiểm Tra Tự Động
Khi có sẵn các kiểm tra UI tự động cho các ứng dụng được phát triển nội bộ, một phần mở rộng dựa trên [OWASP ZAP](https://www.owasp.org/index.php/OWASP_Zed_Attack_Proxy_Project) được sử dụng để làm việc một cách minh bạch với bất kỳ kiểm tra UI nào có sẵn và tự động thêm các kiểm tra động cơ bản vào quy trình xây dựng.
