## Thiết Kế Bảo Mật và Mô Hình Mối Nguy Ứng Ứng Dụng

Nhóm Bảo mật {{companyShortName}} hợp tác với nhóm phát triển thực hiện mô hình mối nguy ứng dụng toàn diện và đánh giá rủi ro trên cơ sở từng ứng dụng bằng cách sử dụng phương pháp tùy chỉnh dựa trên các tiêu chuẩn và thực tiễn tốt nhất trong ngành.

Các bản cập nhật ứng dụng chính được ghi nhận thông qua quy trình **RFC**. Mẫu RFC bao gồm **Cân nhắc Bảo mật** như một phần bắt buộc. Phần này được sử dụng để tài liệu các trường hợp lạm dụng bao gồm:

- Các rủi ro đã xác định,
- Các vectơ tấn công, và
- Các biện pháp kiểm soát giảm thiểu.

Mỗi RFC phải ghi lại đủ chi tiết của tính năng/thành phần sẽ được phát triển, bao gồm các trường hợp sử dụng, động lực và kết quả, và các chi tiết thiết kế sau đây nếu có:

- Các cơ chế xác thực/ủy quyền,
- Giao tiếp mạng,
- Mã hóa dữ liệu,
- Dịch vụ đám mây được sử dụng,
- Ghi nhật ký/kiểm toán,
- Sơ đồ/mô tả luồng dữ liệu,
- Các trường hợp biên, nhược điểm, và các lựa chọn thay thế.

RFC phải được phê duyệt trước khi triển khai. Nhóm bảo mật tham gia vào các đánh giá RFC thông qua quy trình yêu cầu kéo (pull request).

#### Chi Tiết Bảo Mật Thiết Kế và DevOps Nền Tảng

Tài liệu trên [Engineering Wiki]({{&devWikiURL}}) của {{companyShortName}} có thể bao gồm các thông số kỹ thuật bảo mật bổ sung cũng như các chi tiết thiết kế và triển khai bảo mật của Nền tảng {{companyShortName}} và các hoạt động hỗ trợ của nó.
