### Phát triển phần mềm thuê ngoài

{{companyShortName}} yêu cầu tất cả các nhà phát triển phần mềm thuê ngoài phải tuân theo
cùng một quy trình và quy trình như kỹ thuật nội bộ. Các nhà phát triển thuê ngoài phải
phát triển trong môi trường bảo mật của chúng tôi, chấp nhận và tuân theo các chính sách bảo mật và
thủ tục và tuân thủ các tiêu chuẩn mã hóa bảo mật tương tự, bao gồm:

* Nhận đào tạo mã hóa bảo mật OWASP hoặc tương đương thường xuyên.

* Thực hiện theo cùng một kiểm soát nguồn, xem xét mã và quét mã bảo mật
  thủ tục như được xác định.

* Cài đặt tác nhân tuân thủ điểm cuối kiểm tra để đảm bảo tường lửa,
  mã hóa, vá lỗi, chính sách mật khẩu, mật khẩu bảo vệ màn hình và khác
  bảo vệ cần thiết được cấu hình đúng.

Ngoài ra, công ty bên thứ ba cung cấp dịch vụ phát triển thuê ngoài
phải chứng minh rằng họ đã tiến hành sàng lọc thích hợp trong quá trình thuê