### Đào tạo Nhận thức về HIPAA

{{companyShortName}} yêu cầu tất cả nhân viên tham gia khóa đào tạo nhận thức về HIPAA trong vòng 30 ngày sau khi tham gia làm việc và sau đó hàng năm. Hồ sơ đào tạo được ghi lại trong hồ sơ nhân sự và/hoặc hệ thống học tập của {{provider}}.
