### Quản lý thông tin và sự kiện bảo mật tập trung

Các sự kiện và cảnh báo bảo mật được tổng hợp và liên kết bởi một hoặc cả hai giải pháp sau:

* {{provider}}
* Công cụ tự động hóa bảo mật được phát triển nội bộ
