### Đào tạo Nhận thức Liên tục

{{companyShortName}} sử dụng {{provider}} để cung cấp nội dung về nhận thức bảo mật độc đáo, thú vị và hấp dẫn cho tất cả nhân viên hàng tháng. Đào tạo nhận thức bảo mật này sẽ bao gồm các chủ đề:

- Lừa đảo qua email (phishing),
- Kỹ thuật xã hội (social engineering),
- Sử dụng internet đúng cách (mạng xã hội, email, nhấp chuột, v.v.),
- Kiểm soát truy cập (mật khẩu đúng cách, xác thực hai yếu tố, khóa màn hình, v.v.),
- Bảo mật thiết bị di động,
- Bảo vệ dữ liệu,
- Bảo mật hệ thống (chống phần mềm độc hại, cài đặt bản vá, cấu hình an toàn, v.v.).

Tiến độ được theo dõi riêng lẻ cho từng nhân viên và được báo cáo trên nền tảng học tập được quản lý bằng đám mây của {{provider}}.
