### Phát hiện xâm nhập trên máy chủ

Phát hiện xâm nhập dựa trên máy chủ được hỗ trợ thông qua một trong các phương pháp sau:

* Trên hệ thống Windows và macOS: Các tác nhân **{{provider}}** để phát hiện phần mềm độc hại
  và phát hiện mối đe dọa dựa trên hành vi của các điểm cuối.

* Trên máy chủ Linux: Các tác nhân **{{provider}}** để theo dõi hoạt động,
  quét lỗ hổng và phát hiện mối đe dọa. Điều này bao gồm tất cả các phiên bản ảo
  đang chạy trong môi trường đám mây.