### Phát hiện xâm nhập mạng

#### Phát hiện xâm nhập cho các mạng nội bộ trên nền tảng

* {{companyShortName}} sử dụng {{provider}} để bảo mật mạng cho các môi trường nội bộ.
* {{provider}} tích hợp kiểm tra tường lửa có trạng thái và phát hiện/ngăn chặn xâm nhập (IDS/IPS) của lưu lượng mạng đến và đi. Các cuộc tấn công và hoạt động mạng đáng ngờ sẽ bị chặn tự động.
* Quản lý IT của {{companyShortName}} chịu trách nhiệm cấu hình tường lửa và các quy tắc IDS/IPS, và xem xét cấu hình ít nhất hàng quý.

#### Phát hiện xâm nhập trong môi trường đám mây AWS

{{companyShortName}} đã triển khai giải pháp phát hiện đe dọa thời gian thực bằng cách
theo dõi các sự kiện Cloudtrail của AWS và/hoặc các nhật ký luồng VPC.

* Sự kiện Cloudtrail được theo dõi bởi **{{provider}}**
* Nhật ký luồng VPC được gửi đến và phân tích bởi **{{provider}}**.

Giám sát bổ sung được cung cấp bởi nhà cung cấp dịch vụ cơ sở hạ tầng của chúng tôi là AWS.
