### Giám Sát Rủi Ro Của Nhà Cung Cấp

Các hợp đồng với nhà cung cấp được xem xét hàng năm hoặc theo thời gian của hợp đồng đã ký.

Dựa trên mức độ rủi ro và độ nhạy cảm/tính quan trọng của dữ liệu mà nhà cung cấp có quyền truy cập, việc xem xét nhà cung cấp có thể bao gồm một phân tích rủi ro cập nhật được thực hiện bởi nhóm an ninh ngoài việc xem xét pháp lý và kinh doanh của các điều khoản hợp đồng.

Nếu nhà cung cấp là một nhà cung cấp dịch vụ, nhóm DevOps giám sát trạng thái dịch vụ của nhà cung cấp theo SLA của nó. Điều này được thực hiện bằng cách hoặc là xem xét thủ công trạng thái dịch vụ được đăng trên các trang trạng thái của nhà cung cấp ít nhất hàng quý, hoặc bằng cách thiết lập cảnh báo cho sự gián đoạn dịch vụ bằng cách sử dụng tự động hóa.
