### Các Thỏa Thuận Hợp Đồng Với Nhà Cung Cấp

{{#needStandardHIPAA}}
**HIPAA.** Nếu nhà cung cấp cần truy cập vào PHI/ePHI, nhà cung cấp phải tuân thủ HIPAA và cần có một [Thỏa Thuận Đối Tác Kinh Doanh (BAA)][BAA].

[BAA]: hipaa-baa.md
{{/needStandardHIPAA}}

{{#needStandardGDPR}}
**GDPR.** Nếu nhà cung cấp xử lý dữ liệu cho khách hàng từ Khu vực Kinh tế Châu Âu, Vương quốc Anh hoặc Thụy Sĩ (các “Quốc gia Được Chỉ định”), nhà cung cấp phải tuân thủ GDPR và cần có một [Thỏa Thuận Xử Lý Dữ Liệu (DPA)][DPA].

[DPA]: gdpr-dpa.md
{{/needStandardGDPR}}

**SLA cho Các Nhà Cung Cấp Dịch Vụ.** Đối với các nhà cung cấp dịch vụ mạng và cơ sở hạ tầng hỗ trợ sản xuất và/hoặc các hoạt động quan trọng tại {{companyShortName}}, một Thỏa Thuận Mức Dịch Vụ (SLA) được xác định và bao gồm trong hợp đồng dịch vụ.

Nếu thích hợp, các thỏa thuận đã thực hiện được liên kết hoặc đính kèm với nhà cung cấp trong [danh sách nhà cung cấp được phê duyệt][1].

[1]: approved-vendors.md
