### Quy Trình Mua Sắm Phần Mềm và Hệ Thống

{{companyShortName}} An ninh duy trì
danh sách [phần mềm kinh doanh đã được phê duyệt trước][1] và
danh sách [nhà cung cấp / nhà thầu được phê duyệt][2].

[1]: approved-software.md
[2]: approved-vendors.md

Nếu cần thêm phần mềm thương mại, hệ thống phần cứng, hoặc dịch vụ đám mây, một yêu cầu nên được gửi qua bàn dịch vụ nội bộ của {{companyShortName}}. Điều này sẽ kích hoạt quá trình phê duyệt bởi quản lý/an ninh và quy trình mua sắm.

Khi phù hợp, nhóm an ninh của {{companyShortName}} có thể thực hiện phân tích rủi ro trên phần mềm hoặc hệ thống để đảm bảo nó tuân thủ các yêu cầu về an ninh, tuân thủ và pháp lý của {{companyShortName}} và không can thiệp vào các kiểm soát an ninh. Nếu phát hiện rủi ro, các kiểm soát bổ sung nên được xác định và thực hiện (hoặc lên kế hoạch) trước khi mua sắm. Một sản phẩm thay thế có thể được xem xét như là kết quả của phân tích rủi ro.
