## Quyền Truy Cập

`{{defaultRevision}}`

Quyền truy cập vào các hệ thống và ứng dụng của {{companyShortName}} được giới hạn cho tất cả người dùng, bao gồm nhưng không giới hạn đối với thành viên lực lượng lao động, tình nguyện viên, đối tác kinh doanh, nhà cung cấp hợp đồng, tư vấn viên, và bất kỳ thực thể nào khác, chỉ được phép trên cơ sở tối thiểu cần thiết. Tất cả người dùng có trách nhiệm báo cáo một sự cố về người dùng hoặc quyền truy cập trái phép vào các hệ thống thông tin của tổ chức.

{{#needStandardHIPAA}}
Những biện pháp bảo vệ này đã được thiết lập để tuân thủ các quy định bảo mật của HIPAA và các thực hành tốt nhất trong ngành.
{{/needStandardHIPAA}}

## Các Tuyên Bố Chính Sách

### Chính Sách Kiểm Soát Truy Cập

Chính sách của {{companyShortName}} yêu cầu rằng

(a) Quyền truy cập vào tất cả các tài nguyên tính toán, bao gồm máy chủ, thiết bị tính toán của người dùng cuối, thiết bị mạng, dịch vụ và ứng dụng, phải được bảo vệ bởi sự xác thực mạnh mẽ, ủy quyền và kiểm toán.

(b) Quyền truy cập người dùng tương tác phải được liên kết với một tài khoản hoặc đăng nhập duy nhất cho mỗi người dùng.

(c) Tất cả các thông tin xác thực, bao gồm mật khẩu người dùng, tài khoản dịch vụ và khóa truy cập, phải đáp ứng các yêu cầu về độ dài, phức tạp, tuổi thọ và xoay vòng được định nghĩa trong tiêu chuẩn bảo mật của {{companyShortName}}.

(d) Sử dụng mật khẩu mạnh và xác thực hai yếu tố (MFA) bất cứ khi nào có thể để xác thực quyền truy cập vào tất cả các tài nguyên tính toán (bao gồm cả thiết bị và ứng dụng).

(e) MFA là bắt buộc để truy cập bất kỳ hệ thống hoặc tài nguyên quan trọng nào, bao gồm nhưng không giới hạn đối với các tài nguyên trong các môi trường sản xuất của {{companyShortName}}.

(f) Các tài khoản không sử dụng, mật khẩu, khóa truy cập phải được xóa bỏ trong khoảng thời gian được thiết lập.

(g) Một khóa truy cập hoặc tài khoản dịch vụ duy nhất phải được sử dụng cho các ứng dụng hoặc quyền truy cập người dùng khác nhau.

(h) Các phiên đã xác thực phải hết thời gian sau một khoảng thời gian không hoạt động được xác định.

### Ủy Quyền và Kết Thúc Truy Cập

Chính sách của {{companyShortName}} yêu cầu rằng

(a) Quyền ủy quyền truy cập sẽ được thực hiện bằng cách sử dụng kiểm soát truy cập dựa trên vai trò (RBAC) hoặc cơ chế tương tự.

(b) Quyền truy cập tiêu chuẩn dựa trên vai trò công việc của người dùng có thể được cung cấp trước trong quá trình bắt đầu làm việc. Tất cả các yêu cầu truy cập tiếp theo đến các tài nguyên tính toán phải được phê duyệt bởi quản lý của người yêu cầu trước khi cấp và cung cấp quyền truy cập.

(c) Quyền truy cập vào các tài nguyên quan trọng, như môi trường sản xuất, phải được phê duyệt bởi nhóm bảo mật ngoài quản lý của người yêu cầu.

(d) Quyền truy cập phải được xem xét định kỳ và thu hồi nếu không còn cần thiết.

(e) Khi kết thúc hợp đồng lao động, tất cả quyền truy cập hệ thống phải được thu hồi và tài khoản người dùng phải được hủy bỏ trong khoảng thời gian được xác định trước.

(f) Tất cả quyền truy cập hệ thống phải được xem xét ít nhất hàng năm và bất cứ khi nào vai trò công việc của người dùng thay đổi.

### Quản Lý Thông Tin Bảo Mật Chia Sẻ

Chính sách của {{companyShortName}} yêu cầu rằng

(a) Việc sử dụng thông tin xác thực/chia sẻ phải được giảm thiểu và phê duyệt trên cơ sở ngoại lệ.

(b) Nếu cần thiết cho hoạt động kinh doanh, thông tin xác thực/phải được chia sẻ an toàn và lưu trữ trong các kho mật mã hóa đáp ứng các tiêu chuẩn mã hóa dữ liệu của {{companyShortName}}.

(c) Việc sử dụng một bí mật chia sẻ để truy cập một hệ thống hoặc tài nguyên quan trọng phải được hỗ trợ bởi một giải pháp bổ sung để xác định người dùng duy nhất.

### Quản Lý Quyền Truy Cập Đặc Quyền

Chính sách của {{companyShortName}} yêu cầu rằng

(a) Người dùng không được đăng nhập trực tiếp vào hệ thống dưới dạng người dùng có đặc quyền.

  * Người dùng có đặc quyền là người có quyền truy cập quản trị vào các hệ thống quan trọng, như Quản trị viên Miền Active Directory, người dùng root trên hệ thống Linux/Unix và Người dùng Quản trị hoặc Root trên tài khoản AWS.

(b) Quyền truy cập đặc quyền chỉ được thực hiện thông qua proxy hoặc tương đương, hỗ trợ xác thực mạnh (như MFA) bằng cách sử dụng tài khoản cá nhân duy nhất với kiểm toán đầy đủ các hoạt động của người dùng.

(c) Truy cập quản trị trực tiếp vào các hệ thống sản xuất phải được giữ ở mức tối thiểu tuyệt đối.
