# Quản Lý Kiểm Kê Tài Sản

`{{defaultRevision}}`

Bạn không thể bảo vệ những gì bạn không thể nhìn thấy. Do đó, điều cần thiết là {{companyShortName}} phải duy trì một danh mục chính xác và cập nhật các tài sản vật lý và số của mình.

Chi tiết hơn về kiểm kê dữ liệu và quản lý vòng đời dữ liệu được tài liệu riêng trong [Quản Lý Dữ Liệu](data-mgmt.md).

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) IT và/hoặc Đội Ngũ Bảo Mật phải duy trì một danh mục của tất cả các tài sản quan trọng của công ty, cả vật lý và logic.

(b) Tất cả các tài sản phải có chủ sở hữu được xác định và được gắn nhãn với phân loại rủi ro/dữ liệu.

(c) Tất cả các tài sản vật lý phải được gắn nhãn tài sản của công ty.
