# Kế Hoạch Duy Trì Kinh Doanh và Khôi Phục Sau Thảm Họa

`{{defaultRevision}}`

Kế hoạch dự phòng của {{companyShortName}} thiết lập các quy trình để khôi phục {{companyShortName}} sau một sự cố gián đoạn do thảm họa gây ra. Chính sách khôi phục sau thảm họa này được duy trì bởi Nhân Viên An Ninh và Nhân Viên Bảo Mật của {{companyShortName}}.

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Một kế hoạch và quy trình cho việc duy trì kinh doanh và khôi phục sau thảm họa (BCDR), bao gồm sao lưu và khôi phục hệ thống và dữ liệu, phải được xác định và tài liệu hóa.

(b) BCDR phải được mô phỏng và kiểm tra ít nhất một lần mỗi năm. Các chỉ số sẽ được đo lường và các cải tiến khôi phục được xác định sẽ được nộp để cải thiện quy trình BCDR.

(c) Các kiểm soát và yêu cầu an ninh phải được duy trì trong suốt các hoạt động BCDR.
