# Điều Tra và Thông Báo Về Sự Cố Bảo Mật

`{{defaultRevision}}`

Trong trường hợp xảy ra sự cố bảo mật, {{companyShortName}} sẽ thông báo cho tất cả các khách hàng bị ảnh hưởng. Khách hàng có trách nhiệm thông báo cho các cá nhân bị ảnh hưởng.

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Quy trình thông báo sự cố bảo mật được kích hoạt ngay khi xác nhận sự cố bảo mật dẫn đến việc tiết lộ trái phép dữ liệu nhạy cảm không được bảo vệ/mã hóa.

(b) Các cá nhân bị ảnh hưởng bởi một sự cố bảo mật đã được xác nhận phải được thông báo trong thời gian quy định từ khi phát hiện ra sự cố đó.
