# Quản Trị Doanh Nghiệp

`{{defaultRevision}}`

{{companyShortName}} tin tưởng vào các thực hành kinh doanh minh bạch và đạo đức,
và bảo vệ lợi ích lâu dài của nhân viên, khách hàng, cổ đông và các bên liên quan khác.

{{companyShortName}} đã thành lập một Ban Giám Đốc (BoD) và bổ nhiệm
các thành viên và giám đốc đủ năng lực, như sau:

* Các điều lệ và quy tắc hoạt động của công ty và BoD được thiết lập để mô tả
  trách nhiệm của các thành viên hội đồng quản trị.

* BoD xác định và chấp nhận trách nhiệm giám sát của mình liên quan đến các
  yêu cầu và kỳ vọng đã được thiết lập.

* Các thành viên hội đồng quản trị được đánh giá định kỳ để đảm bảo rằng
  kỹ năng và chuyên môn của họ phù hợp để dẫn dắt ban quản lý cấp cao và
  thực hiện hành động tương ứng.

* BoD có đủ thành viên độc lập với ban quản lý và có tính khách quan trong
  việc đánh giá và ra quyết định.

* Kỳ vọng của BoD và/hoặc ban quản lý cấp cao được định rõ và
  hiểu ở tất cả các cấp của tổ chức, các nhà cung cấp dịch vụ và
  đối tác kinh doanh của nó.
