# Chính Sách Quản Lý Dữ Liệu

`{{defaultRevision}}`

Chính sách này nêu rõ các yêu cầu và quy trình/biện pháp kiểm soát mà {{companyShortName}}
đã thực hiện để quản lý vòng đời dữ liệu từ lúc tạo ra/thu thập đến lưu trữ và xóa bỏ.

Ngoài ra, chính sách này còn nêu rõ các yêu cầu và quy trình để tạo và
duy trì các bản sao chính xác có thể truy xuất của
{{#needStandardHIPAA}}thông tin sức khỏe điện tử được bảo vệ (ePHI),{{/needStandardHIPAA}}
PII và các dữ liệu quan trọng khác của khách hàng/doanh nghiệp.

Sao lưu dữ liệu là một phần quan trọng trong hoạt động hàng ngày của {{companyShortName}}. Để
bảo vệ tính bảo mật, toàn vẹn và sẵn sàng của dữ liệu nhạy cảm và quan trọng, cả cho
{{companyShortName}} và Khách hàng của {{companyShortName}}, các bản sao lưu hoàn chỉnh được thực hiện hàng ngày để đảm bảo rằng
dữ liệu luôn sẵn sàng khi cần và trong trường hợp xảy ra thảm họa.

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng

(a) Dữ liệu nên được phân loại tại thời điểm tạo ra hoặc thu thập theo
[mô hình phân loại dữ liệu của {{companyShortName}}](data-mgmt.md#data-classification-model),
bằng cách gắn nhãn hoặc đánh dấu dữ liệu.

(b) Duy trì một danh sách và sơ đồ luồng dữ liệu cập nhật của tất cả dữ liệu quan trọng.

(c) Tất cả dữ liệu kinh doanh nên được lưu trữ hoặc sao chép vào kho lưu trữ do công ty kiểm soát,
bao gồm dữ liệu trên hệ thống máy tính của người dùng cuối.

(d) Dữ liệu phải được sao lưu theo mức độ được định nghĩa trong phân loại dữ liệu của {{companyShortName}}.

(e) Sao lưu dữ liệu phải được xác nhận tính toàn vẹn.

(f) Thời gian lưu trữ dữ liệu phải được xác định và tuân thủ bất kỳ và tất cả các yêu cầu
quy định và hợp đồng áp dụng. Cụ thể hơn,

  * Dữ liệu và hồ sơ thuộc nền tảng khách hàng của {{companyShortName}} phải được lưu giữ
    theo các điều khoản và điều kiện sản phẩm của {{companyShortName}} và/hoặc các thỏa thuận hợp đồng cụ thể.

(g) Theo mặc định, tất cả các tài liệu an ninh và dấu vết kiểm toán được giữ trong ít nhất bảy năm,
trừ khi được quy định khác bởi phân loại dữ liệu của {{companyShortName}}, quy định cụ thể hoặc thỏa thuận hợp đồng.
