# Bảo Vệ Dữ Liệu

`{{defaultRevision}}`

{{companyShortName}} coi trọng tính bảo mật và toàn vẹn của dữ liệu khách hàng. Là người quản lý và đối tác của các Khách hàng của {{companyShortName}}, chúng tôi cố gắng đảm bảo dữ liệu được bảo vệ khỏi truy cập trái phép và có sẵn khi cần. Các chính sách sau đây điều khiển nhiều quy trình và biện pháp kỹ thuật của chúng tôi nhằm hỗ trợ nhiệm vụ bảo vệ dữ liệu của {{companyShortName}}.

Các hệ thống sản xuất tạo ra, nhận, lưu trữ hoặc truyền dữ liệu khách hàng (sau đây gọi là "Hệ thống Sản xuất") phải tuân thủ các yêu cầu và hướng dẫn được mô tả trong phần này.

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Dữ liệu phải được xử lý và bảo vệ theo các yêu cầu phân loại của nó và tuân theo các tiêu chuẩn mã hóa được phê duyệt, nếu có.

(b) Bất cứ khi nào có thể, lưu trữ dữ liệu có cùng phân loại trong một kho dữ liệu cụ thể và tránh trộn lẫn dữ liệu nhạy cảm và không nhạy cảm trong cùng một kho lưu trữ. Các biện pháp kiểm soát bảo mật, bao gồm xác thực, ủy quyền, mã hóa dữ liệu và kiểm toán, nên được áp dụng theo phân loại cao nhất của dữ liệu trong một kho lưu trữ cụ thể.

(c) Thành viên lực lượng lao động không được có quyền truy cập quản trị trực tiếp vào dữ liệu sản xuất trong các hoạt động kinh doanh bình thường. Các ngoại lệ bao gồm các hoạt động khẩn cấp như phân tích pháp y và khôi phục dữ liệu thủ công.

(d) Tất cả các Hệ thống Sản xuất phải vô hiệu hóa các dịch vụ không cần thiết để đạt được mục đích kinh doanh hoặc chức năng của hệ thống.

(e) Tất cả truy cập vào Hệ thống Sản xuất phải được ghi lại, tuân theo Chính sách Kiểm toán của {{companyShortName}}.

(f) Tất cả các Hệ thống Sản xuất phải có giám sát bảo mật, bao gồm giám sát hoạt động và tính toàn vẹn của tệp, quét lỗ hổng và/hoặc phát hiện phần mềm độc hại, nếu áp dụng.
