# Facility Access and Physical Security

`{{defaultRevision}}`

Mục tiêu của {{companyShortName}} là cung cấp một môi trường an toàn và bảo mật cho tất cả nhân viên. Quyền truy cập vào các cơ sở của {{companyShortName}} bị giới hạn chỉ dành cho những cá nhân được ủy quyền.

{{companyShortName}} làm việc với các Nhà Thầu Phụ (ví dụ: công ty quản lý tài sản và quản lý cơ sở) để đảm bảo hạn chế truy cập vật lý vào các hệ thống được sử dụng như một phần của Nền tảng {{companyShortName}}.

Truy cập vật lý vào tất cả các cơ sở của {{companyShortName}} bị giới hạn chỉ dành cho những người được ủy quyền trong chính sách này. Tất cả các thành viên lực lượng lao động có trách nhiệm báo cáo sự cố của khách truy cập trái phép và/hoặc truy cập trái phép vào cơ sở của {{companyShortName}}.

{{#needStandardHIPAA}}
{{companyShortName}} và các Nhà Thầu Phụ kiểm soát truy cập vào các tòa nhà/cơ sở vật lý chứa các hệ thống/ứng dụng này hoặc nơi mà các thành viên lực lượng lao động của {{companyShortName}} hoạt động, theo Quy tắc Bảo mật HIPAA 164.310 và các thông số kỹ thuật thực hiện của nó. Để bảo vệ ePHI khỏi truy cập trái phép, giả mạo và trộm cắp, truy cập chỉ được phép vào các khu vực dành cho những người được ủy quyền và có người hộ tống cho những người không được ủy quyền.
{{/needStandardHIPAA}}

## Các Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Truy cập vật lý vào các cơ sở của {{companyShortName}} bị hạn chế.

(b) Tất cả nhân viên được yêu cầu đeo thẻ nhân viên tại các cơ sở bảo mật (chẳng hạn như phòng máy chủ, trung tâm dữ liệu, phòng thí nghiệm).

(c) Tất cả nhân viên phải tuân thủ các yêu cầu và quy trình bảo mật vật lý được ghi chép bởi quản lý cơ sở.

(d) Khách truy cập và nhà cung cấp tại chỗ phải được một nhân viên của {{companyShortName}} hộ tống mọi lúc khi có mặt.

(e) Tất cả các thành viên lực lượng lao động có trách nhiệm báo cáo sự cố của khách truy cập trái phép và/hoặc truy cập trái phép vào cơ sở của {{companyShortName}}.

(f) Lưu giữ hồ sơ cho mỗi lần truy cập vật lý, bao gồm các chuyến thăm, bảo trì và sửa chữa các môi trường sản xuất và cơ sở bảo mật của {{companyShortName}}.

  * Chi tiết phải được ghi lại cho tất cả các bảo trì và sửa chữa được thực hiện cho thiết bị bảo mật vật lý như khóa, tường, cửa, camera giám sát; và
  * Tất cả hồ sơ phải được lưu giữ trong thời gian xác định trước.

(g) An ninh tòa nhà, chẳng hạn như bình chữa cháy và máy phát hiện, lối thoát hiểm, trách nhiệm của nhân viên sàn, phải được duy trì theo các luật và quy định hiện hành.
