# Vai Trò, Trách Nhiệm và Đào Tạo

`{{defaultRevision}}`

An ninh và tuân thủ là trách nhiệm của tất cả mọi người. {{companyShortName}} cam kết đảm bảo rằng tất cả các thành viên trong lực lượng lao động đều chủ động giải quyết vấn đề an ninh và tuân thủ trong vai trò của họ. Theo thống kê, các vi phạm an ninh mạng thường bắt đầu từ việc xâm nhập vào các thiết bị đầu cuối của người dùng, kỹ thuật xã hội, lỗi của con người hoặc mối đe dọa từ bên trong. Do đó, người dùng là tuyến phòng thủ đầu tiên và thường là liên kết yếu nhất. Vì vậy, đào tạo là rất quan trọng để đảm bảo hiểu biết về các thực tiễn tốt nhất hiện tại, các loại và độ nhạy cảm của dữ liệu, và các hình phạt liên quan đến việc không tuân thủ.

Trong tài liệu chính sách này và tất cả các tài liệu liên quan, thuật ngữ "nhân viên" và "thành viên lực lượng lao động" có thể được sử dụng thay thế cho nhau để bao gồm tất cả các nhân viên toàn thời gian và bán thời gian ở tất cả các vai trò công việc, nhà thầu và phụ thầu, tình nguyện viên, thực tập sinh, quản lý và điều hành tại {{companyShortName}}.

Sĩ quan An ninh, cùng với Sĩ quan Bảo mật, có trách nhiệm phối hợp phát triển, kiểm tra, triển khai, đào tạo và giám sát tất cả các hoạt động liên quan đến nỗ lực của {{companyShortName}} trong việc tuân thủ các quy định về an ninh và tuân thủ cũng như các thực tiễn tốt nhất trong ngành. Mục đích của trách nhiệm của Sĩ quan An ninh là duy trì tính bảo mật, toàn vẹn và sẵn sàng của dữ liệu quan trọng và nhạy cảm. Sĩ quan An ninh và Bảo mật được bổ nhiệm bởi và báo cáo cho Ban Giám đốc và/hoặc Giám đốc điều hành (CEO).

{{companyShortName}} đã bổ nhiệm {{securityOfficerName}} làm Sĩ quan An ninh và {{privacyOfficerName}} làm Sĩ quan Bảo mật.

{{#needStandardGDPR}}
{{companyShortName}} đã bổ nhiệm {{dataProtectionOfficerName}} làm Sĩ quan Bảo vệ Dữ liệu chịu trách nhiệm về tất cả các vấn đề liên quan đến GDPR.
{{/needStandardGDPR}}

Một **Ủy ban An ninh** chính thức đã được thành lập, do Sĩ quan An ninh chủ trì, và đại diện bởi các thành viên được chọn trong đội ngũ lãnh đạo cấp cao ({{securityCommitteeMembers}}).

## Tuyên Bố Chính Sách

{{companyShortName}} chính sách yêu cầu rằng:

(a) Một Sĩ quan An ninh và Bảo mật {{#needStandardHIPAA}}[164.308(a)(2)]{{/needStandardHIPAA}} phải được bổ nhiệm để hỗ trợ duy trì và thực thi các biện pháp bảo vệ liên quan đến an ninh, tuân thủ và bảo mật.

{{#needStandardGDPR}}
Ngoài ra, một Sĩ quan Bảo vệ Dữ liệu phải được bổ nhiệm để thực hiện các nhiệm vụ và trách nhiệm theo quy định của GDPR.
{{/needStandardGDPR}}

(b) An ninh và tuân thủ là trách nhiệm của tất cả các thành viên trong lực lượng lao động (bao gồm nhân viên, nhà thầu, thực tập sinh và quản lý/điều hành). Tất cả các thành viên lực lượng lao động đều phải:

  * Hoàn thành tất cả các khóa đào tạo về an ninh yêu cầu, bao gồm đào tạo về tuân thủ quy định hàng năm, nhận thức về an ninh và bất kỳ đào tạo về an ninh dựa trên vai trò nào thêm vào trong khuôn khổ chương trình nhận thức về an ninh liên tục và theo yêu cầu của vai trò công việc.

  {{#needStandardHIPAA}}
  * Hoàn thành đào tạo nhận thức về HIPAA hàng năm
  {{/needStandardHIPAA}}

  * Tuân thủ tất cả các yêu cầu an ninh được nêu trong chính sách và quy trình an ninh của {{companyShortName}}, bao gồm nhưng không giới hạn ở các chính sách và quy trình kiểm soát truy cập và chính sách sử dụng chấp nhận được cho thiết bị đầu cuối.

  * Thấy gì, nói gì: tuân theo quy trình báo cáo sự cố để báo cáo tất cả các hoạt động đáng ngờ cho đội ngũ an ninh.

(c) Tất cả các thành viên lực lượng lao động đều phải báo cáo sự không tuân thủ các chính sách và quy trình của {{companyShortName}} cho Sĩ quan An ninh hoặc người được ủy quyền. Các cá nhân báo cáo vi phạm một cách trung thực không được chịu sự đe dọa, đe dọa, cưỡng chế, phân biệt đối xử hoặc bất kỳ hành động trả đũa nào khác như là hậu quả.

(d) Tất cả các thành viên lực lượng lao động đều phải hợp tác với các hoạt động thực thi pháp luật liên bang, tiểu bang và địa phương và các cuộc điều tra pháp lý. Việc can thiệp vào các cuộc điều tra thông qua việc trình bày sai sự thật, bỏ qua các thông tin hoặc sử dụng đe dọa đối với bất kỳ ai là nghiêm cấm.

(e) Các thành viên lực lượng lao động vi phạm chính sách này sẽ bị áp dụng các hình phạt.

(f) Phân tách trách nhiệm sẽ được duy trì khi áp dụng để đảm bảo kiểm tra và cân bằng hợp lý và giảm thiểu xung đột lợi ích. Điều này giúp giảm khả năng gian lận và mối đe dọa từ bên trong đáng kể và loại bỏ các điểm yếu đơn lẻ đối với các hệ thống quan trọng.
