# Quản Lý Rủi Ro

`{{defaultRevision}}`

Chính sách này thiết lập phạm vi, mục tiêu và quy trình của quá trình quản lý rủi ro an ninh thông tin của {{companyShortName}}. Quy trình quản lý rủi ro nhằm hỗ trợ và bảo vệ tổ chức cũng như khả năng thực hiện sứ mệnh của nó.

## Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Một đánh giá rủi ro toàn diện phải được thực hiện để đánh giá các mối đe dọa và lỗ hổng tiềm tàng đối với tính bảo mật, toàn vẹn và sẵn có của thông tin điện tử nhạy cảm, bảo mật và độc quyền mà tổ chức lưu trữ, truyền tải và/hoặc xử lý.

(b) Các đánh giá rủi ro phải được thực hiện đối với bất kỳ thay đổi lớn nào trong hoạt động kinh doanh hoặc kỹ thuật của {{companyShortName}} và/hoặc cơ sở hạ tầng hỗ trợ, không ít hơn một lần mỗi năm.

(c) Các chiến lược phải được phát triển để giảm thiểu hoặc chấp nhận các rủi ro đã được xác định trong quá trình đánh giá rủi ro.

(d) Duy trì tài liệu về tất cả các nỗ lực đánh giá rủi ro, quản lý rủi ro và giảm thiểu rủi ro trong ít nhất bảy năm.
