# Bảo Mật Bên Thứ Ba, Quản Lý Rủi Ro Nhà Cung Cấp và Mua Sắm Hệ Thống/Dịch Vụ

`{{defaultRevision}}`

{{companyShortName}} nỗ lực hết mình để đảm bảo tất cả các tổ chức bên thứ ba đều tuân thủ các yêu cầu và không làm ảnh hưởng đến tính toàn vẹn, bảo mật và quyền riêng tư của {{companyShortName}} hoặc dữ liệu của Khách hàng {{companyShortName}}. Các Bên Thứ Ba bao gồm Nhà Cung Cấp, Khách hàng, Đối Tác, Nhà Thầu Phụ, và Nhà Phát Triển Theo Hợp Đồng.

## Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Danh sách các nhà cung cấp/đối tác được phê duyệt phải được duy trì và xem xét hàng năm.

(b) Phê duyệt từ quản lý, mua sắm và bảo mật phải có trước khi tiếp nhận bất kỳ nhà cung cấp hoặc nhà thầu mới nào. Ngoài ra, tất cả các thay đổi đối với các hợp đồng hiện có phải được xem xét và phê duyệt trước khi thực hiện.

(c) Đối với bất kỳ giải pháp công nghệ nào cần được tích hợp vào môi trường hoặc hoạt động sản xuất của {{companyShortName}}, một Đánh Giá Công Nghệ Nhà Cung Cấp phải được thực hiện bởi nhóm bảo mật để hiểu và phê duyệt rủi ro. Đánh giá tuân thủ định kỳ và xem xét SLA có thể được yêu cầu.

(d) Khách hàng hoặc Đối tác của {{companyShortName}} không nên được phép truy cập ra ngoài môi trường của chính họ, nghĩa là họ không thể truy cập, sửa đổi hoặc xóa bất kỳ dữ liệu nào thuộc về các bên thứ ba khác.

(e) Các thỏa thuận với nhà cung cấp bổ sung được thực hiện theo yêu cầu của các quy định tuân thủ quy định áp dụng.

{{#needStandardHIPAA}}
* Một Thỏa Thuận Kinh Doanh HIPAA (BAA) tiêu chuẩn được xác định và bao gồm các kiểm soát bảo mật cần thiết theo chính sách bảo mật của tổ chức. Thêm vào đó, trách nhiệm được phân công trong các thỏa thuận này. Một BAA phải được ký kết với bất kỳ nhà cung cấp nào có thể có nhu cầu kinh doanh để truy cập và/hoặc truy cập không giám sát vào PHI hoặc ePHI.
{{/needStandardHIPAA}}

{{#needStandardGDPR}}
* Một Thỏa Thuận/Xin phép Xử Lý Dữ Liệu GDPR (DPA) được xác định và thực hiện cho mỗi nhà cung cấp/nhà thầu của {{companyShortName}} xử lý dữ liệu cá nhân của người dùng EU.
{{/needStandardGDPR}}
