# Quản Lý Lỗ Hổng

`{{defaultRevision}}`

## Tuyên Bố Chính Sách

Chính sách của {{companyShortName}} yêu cầu rằng:

(a) Tất cả các hệ thống sản phẩm phải được quét lỗ hổng theo lịch trình đã định và với mỗi thay đổi lớn, nếu có.

(b) Tất cả các phát hiện về lỗ hổng phải được báo cáo và theo dõi đến khi giải quyết. Hồ sơ của các phát hiện phải được lưu giữ trong khoảng thời gian đã định.
